<div style="overflow: hidden" id="search-form-m-root-container" class="search-form-m-root-container">
  <form novalidate class="form-horizontal"
        ng-submit="searchUploadedFormMModal.close(searchUploadedFormMModal.searchParams)"
        name="searchUploadedFormMModalForm">
    <fieldset class="search-form-m-container" style="position: relative; padding: 7px;">

      <div class="form-group form-m-number-group">
        <label class="control-label col-sm-4" for="form-m-number">Form M Number</label>

        <div class="col-sm-8">
          <input class="form-control" maxlength="13" id="form-m-number" min="0"
                 ng-pattern="/(?:mf)?\d{4,11}/i" name="searchUploadedFormMNumber"
                 ng-model="searchUploadedFormMModal.searchParams.mf"/>
        </div>
      </div>
    </fieldset>

    <div class="row search-form-m-form-control">
      <div class="col-md-4 col-lg-4 col-sm-4" style="text-align: left">
        <span class="btn btn-default"
              ng-click="searchUploadedFormMModal.reset(searchUploadedFormMModalForm)">
          Reset
        </span>
      </div>

      <div class="col-md-4 col-lg-4 col-sm-4" style="text-align: center">
        <button type="submit" class="btn btn-info" ng-disabled="searchUploadedFormMModalForm.$invalid"
                name="searchUploadedFormMSubmit">
          Search Form M
        </button>
      </div>

      <div class="col-md-4 col-lg-4 col-sm-4" style="text-align: right">
        <span class="btn btn-default" ng-click="searchUploadedFormMModal.close()">Close</span>
      </div>
    </div>
  </form>
</div>
