<div class="add-attachment-container">
  <form role="form" name="addAttachmentForm">
    <fieldset>

      <div>
        <div class="pull-left">
          <div class="add-attachment-label">
            <label for="attachment-title">Title</label>
          </div>
          <input style="width: 350px;"
                 type="text" class="form-control" name="attachmentTitle" id="attachment-title" required
                 ng-model="attachment.attachment.title">
        </div>

        <div style="margin-left: 10px; margin-right: 10px;" class="pull-left">
          <div class="add-attachment-label">
            <label for="attachment-comment">Comment</label>
          </div>
      <textarea style="height: 80px; width: 251px;"
                class="form-control" name="attachmentComment" id="attachment-comment"
                ng-model="attachment.attachment.comment"> </textarea>
        </div>

        <div style="" class="pull-left">
          <div class="add-attachment-label">
          </div>

          <div>
            <input type="file" name="files" multiple value="Select files" title="select files for attachment"
                   ngf-max-size="15MB"
                   ngf-select="attachment.onFilesSelected($files)">
          </div>

        </div>

        <div class="clearfix"></div>
      </div>

      <div style="" ng-if="attachment.attachment.files.length">
        <div class="add-attachment-label">
          <label>Selected files</label>
        </div>

        <div class="pull-left form-m-selected-attachment-file-display"
             ng-repeat="file in attachment.attachment.files">
          <span style="display: inline-block">{$$index + 1$}. </span>
          <span style="display: inline-block">{$file.name$}</span>
          <span style="margin-left: 20px; cursor:pointer;" class="glyphicon glyphicon-trash"
                ng-click="attachment.deleteFile($index)"></span>
        </div>

        <div class="clearfix"></div>
      </div>

      <div style="margin-top: 15px;">
        <button type="button" class="btn btn-info"
                ng-disabled="addAttachmentForm.$invalid || !attachment.attachment.files.length"
                ng-click="attachment.addAttachment(attachment.attachment, addAttachmentForm)">
          Add Attachment
        </button>
        &nbsp;&nbsp;

          <span class="btn btn-default" ng-click="attachment.clearForm(addAttachmentForm)">
            &nbsp;&nbsp;&nbsp;&nbsp; Clear &nbsp;&nbsp;&nbsp;&nbsp;
          </span>
      </div>
    </fieldset>
  </form>
</div>
