<div class="add-attachment-container">
  <form role="form" name="addAttachmentForm">
    <fieldset>
      <legend style="font-size: 15px;">
        Add Attachments: {$::attachment.kmTitle$}
      </legend>

      <div style="margin-left: 20px; margin-right: 20px;" class="pull-left">
        <div>
          <label for="attachment-title">Title</label>
        </div>
        <input type="text" class="form-control" name="attachmentTitle" id="attachment-title"
               ng-model="attachment.file.title">
      </div>

      <div class="pull-left">
        <div>
          <label for="attachment-comment">Comment</label>
        </div>
      <textarea style="height: 80px; width: 251px;"
                class="form-control" name="attachmentComment" id="attachment-comment"
                ng-model="attachment.file.comment"> </textarea>
      </div>

      <div class="clearfix"></div>
    </fieldset>
  </form>
</div>
