.nav-link {
  padding: 6px 5px;
}
.ui-front {
  z-index: 2050;
}
body {
  font-size: 12px;
  margin: 5px;
}
.navbar-default {
  background-color: #417690;
}
.navbar-default .navbar-brand {
  color: #E8E37E;
}
.navbar-default ul.nav.navbar-nav li.active a {
  background-color: #418999;
}
.navbar-default ul.nav.navbar-nav li.active a:hover {
  background-color: #417690;
}
.navbar-default ul.nav.navbar-nav li.dropdown a .caret {
  border-top-color: white;
  border-bottom-color: white;
}
.navbar-default ul.nav.navbar-nav li a {
  color: #F5FBFB;
}
.hide {
  display: none;
}
.form-group > label.control-label {
  text-align: left;
}
.form-horizontal .has-feedback .form-control-feedback {
  right: 15px;
}
.form-control.ng-invalid.ng-dirty {
  color: #a94442;
  border: 1px solid #a94442;
  box-shadow: 0 0 2px #a94442;
}
form.align-vertical fieldset {
  border: 1px solid #ccc;
  margin-bottom: 5px;
  background: white;
}
form.align-vertical fieldset.disabled label {
  font-weight: normal;
}
form.align-vertical fieldset .form-row {
  overflow: hidden;
  padding: 8px 12px;
  font-size: 14px;
  border-bottom: 1px solid #eee;
}
form.align-vertical fieldset label.aligned {
  display: block;
  padding: 3px 10px 0 0;
  float: left;
  width: 8em;
}
form.align-vertical .submit-row {
  padding: 5px 7px;
  text-align: left;
  border: 1px solid #ccc;
  margin: 5px 0;
  overflow: hidden;
}
.show-date-picker {
  border: 1px solid #ccc;
}
.recons-base-nav ul {
  padding-left: 0;
}
.recons-base-nav ul li {
  display: inline-block;
  list-style-type: none;
}
.recons-base-nav ul li a {
  text-decoration: underline;
}
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px 6px;
  border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
.dropdown-submenu:hover > a:after {
  border-left-color: #ffffff;
}
.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 4px 0 4px 4px;
  border-left-color: white;
  margin-top: 5px;
  margin-right: -10px;
}
.dropdown-submenu .pull-left {
  float: none;
}
.dropdown-submenu .pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}
.left-nav {
  padding: 0;
  border: 1px solid #D3D3CE;
  min-height: 400px;
}
.left-nav a.single-btn {
  padding: 6px 5px;
  border-right: none;
}
.left-nav .btn-group-vertical {
  display: block;
  width: 100%;
}
.left-nav .btn-group-vertical .btn {
  text-align: left;
  color: #0D355A;
}
.lc-app-base-main-menu-tree {
  width: 35%;
  margin: auto;
  border: 1px dashed #6baec7;
  border-radius: 2px;
  padding: 20px 0 0 8px;
  min-height: 450px;
}
.jstree-default > .jstree-container-ul > .jstree-node {
  margin-bottom: 20px;
}
.jstree-default > .jstree-container-ul > .jstree-node > .jstree-anchor {
  font-weight: 500;
  font-size: 15px;
}
.model-table-display-root-container table > caption {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  padding: 0;
}
.model-table-display-root-container table > tbody > tr.model-table-display-selected {
  background-color: #46B8DA;
}
.model-table-display-root-container table > tbody > tr.model-table-display-selected > td {
  color: white;
}
.td-number {
  text-align: right;
}
.td-center {
  text-align: center;
}
uib-accordion .panel-body {
  padding: 8px 2px 2px;
}
uib-accordion .panel-heading {
  padding: 5px;
}
uib-accordion .panel-title > a.accordion-toggle {
  font-size: 12px;
  text-decoration: none;
  outline: none;
}
.ng-table th.filter .input-filter {
  height: 18px;
  min-height: 18px;
}
.modal-backdrop {
  background-color: #c7c7c7;
}
