<div class="form-m-attachment-container form-m-add-on-container" style="margin-bottom: 30px;">

  <div ng-click="formMAttachment.toggleShow()"
       class="form-m-add-on-toggle form-m-attachment-toggle-show clearfix">

    <div class="form-m-add-on-show-icon form-m-attachment-add-on-show-icon">
      <span
        ng-class="['glyphicon', {'glyphicon-chevron-down': !formMAttachment.showAttachment, 'glyphicon-chevron-up': formMAttachment.showAttachment}]">
      </span>

      Attachment
    </div>
  </div>

  <div ng-if="formMAttachment.showAttachment" style="position:relative; margin-top: 30px;">
    <div class="add-attachment-form-toggle"
         ng-click="formMAttachment.showAddAttachmentForm = !formMAttachment.showAddAttachmentForm">
      <div class="add-attachment-form-toggle-line"></div>

      <span class="glyphicon glyphicon-plus-sign" ng-if="!formMAttachment.showAddAttachmentForm"></span>
      <span class="glyphicon glyphicon-minus-sign" ng-if="formMAttachment.showAddAttachmentForm"></span>

      <span class="add-attachment-form-toggle-text">Add attachment</span>
    </div>

    <div class="absolute-spacer"></div>

    <div class="form-m-add-attachment-container" add-attachment ng-show="formMAttachment.showAddAttachmentForm"
         on-attachment-file-added="formMAttachment.attachmentFileAdded($attachmentFile)"
         attachment-context="formMAttachment.attachmentContext">
    </div>

    <div class="items-table-display" ng-if="formMAttachment.formM.attachments.length">

      <table class="table table-responsive table-striped table-bordered form-m-attachments-table">
        <caption class="form-m-attachment-caption">
          Attachments <span class="badge">{$formMAttachment.formM.attachments.length$}</span>
        </caption>
        <thead>
          <tr>
            <td style="width: 1px">S/N</td>
            <td>Title</td>
            <td style="width: 220px;">Comment</td>
            <td style="width: 40%;">Files</td>
            <td></td>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="attachment in formMAttachment.formM.attachments"
              ng-class="['attachment-table-row', {'attachment-checked': attachment.checked}]">
            <td>{$$index + 1$}</td>

            <td>
              {$::attachment.title$}
            </td>

            <td data-toggle="tooltip" data-placement="bottom" title="{$::attachment.comment$}">
              {$::attachment.comment.slice(0, 30)$}
            </td>

            <td>
              <span style="display: block; padding: 4px 0 0 8px; margin-bottom: 5px;"
                    ng-repeat="file in attachment.files"
                    ng-class="['attachment-file-row', {'form-m-attachment-file-checked': file.checked}]">

                <a style="display: block" class="pull-left" target="_self" download="{$file.name$}"
                   ng-href="{$::file.download_url$}">
                  {$::formMAttachment.getFileName(file.name)$}
                </a>

                <span style="display: block;margin-right: 20px;" class="pull-right">
                  <input type="checkbox" title="attachment-form-checkbox"
                         ng-model="formMAttachment.selectedAttachmentFiles[file.id]"
                         ng-attr-name="{$'attachmentFile' + file.id$}">
                </span>

                <span class="clearfix"></span>
              </span>
            </td>

            <td style="text-align: center;">
              <input type="checkbox" title="attachment-checkbox"
                     ng-model="formMAttachment.selectedAttachments[attachment.id]"
                     ng-attr-name="{$'attachmentFile' + attachment.id$}">
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div ng-class="['controls', {'form-m-attachment-no-attachment': !formMAttachment.formM.attachments.length}]">
      <div style="width: 40%; min-width: 40%;" class="pull-left"
           ng-if="formMAttachment.selectedAttachmentsLen || formMAttachment.selectedAttachmentFilesLen">

        <div class="form-group">
          <div class="input-group">
            <select class="form-control" name="" id="form-m-attachment-actions" title="form M attachment action"
                    ng-model="formMAttachment.action">

              <option value="">-----Select Action-----</option>

              <option ng-if="formMAttachment.selectedAttachmentsLen === 1" value="delete-attachment">
                Delete attachment
              </option>

              <option ng-if="formMAttachment.selectedAttachmentFilesLen === 1" value="delete-file">
                Delete file
              </option>
            </select>

            <span class="input-group-addon form-m-action-execute"
                  ng-if="formMAttachment.action"
                  ng-click="formMAttachment.doAction(formMAttachment.action)">
              <span>Go</span>
            </span>

            <span class="input-group-addon" ng-if="!formMAttachment.action"></span>
          </div>
        </div>

      </div>

      <div class="pull-right">
        <button class="btn btn-default" ng-click="formMAttachment.refreshAttachments()">Refresh</button>
      </div>

      <div class="clearfix"></div>
    </div>

  </div>
</div>
