<div class="bid-request-form-container form-m-add-on-container">

  <div ng-click="lcBid.toggleShow(bidForm)"
       class="form-m-add-on-toggle form-m-bid-toggle-show clearfix">
    <span class="form-m-add-on-show-helper" ng-if="lcBid.showBidForm">Make Bid Request</span>

    <div class="form-m-add-on-show-icon">
      <span
          ng-class="['glyphicon', {'glyphicon-chevron-down': !lcBid.showBidForm, 'glyphicon-chevron-up': lcBid.showBidForm}]">
      </span>

      {$lcBid.title$}
    </div>
  </div>

  <fieldset ng-form name="bidForm" ng-show="lcBid.showBidForm">
    <div
        ng-class="['form-group', 'has-feedback', 'bid-goods-description', {'has-error': lcBid.isValid('bidGoodsDescription'), 'has-success': lcBid.isValid('bidGoodsDescription', 'ok')}]">

      <label class="control-label col-sm-3" for="goods-description">Goods Description</label>

      <div class="col-sm-9">
        <input class="form-control" id="goods-description" name="bidGoodsDescription" required min="5"
               ng-required="lcBid.showBidForm"
               ng-model="lcBid.bid.goods_description" to-upper/>


        <i ng-class="['form-control-feedback', 'glyphicon', {'glyphicon-remove': lcBid.isValid('bidGoodsDescription'), 'glyphicon-ok': lcBid.isValid('bidGoodsDescription', 'ok')}]"
           ng-if="lcBid.isValid('bidGoodsDescription') || lcBid.isValid('bidGoodsDescription', 'ok')"
           data-form-control-icon-for="bidGoodsDescription"></i>

        <div ng-messages="bidForm.bidGoodsDescription.$error" role="alert">
          <div ng-if="lcBid.isValid('bidGoodsDescription')">
            <div ng-messages-include="form-error-messages"></div>
          </div>
        </div>
      </div>
    </div>

    <div
        ng-class="['form-group', 'has-feedback', 'bid-amount-group', {'has-error': lcBid.isValid('bidAmount'), 'has-success': lcBid.isValid('bidAmount', 'ok')}]">

      <label class="control-label col-sm-3" for="bid-amount">Amount</label>

      <div class="col-sm-9">
        <input class="form-control" id="bid-amount" name="bidAmount" ng-model="lcBid.bid.amount"
               ng-required="lcBid.showBidForm" number-format/>

        <i ng-class="['form-control-feedback', 'glyphicon', {'glyphicon-remove': lcBid.isValid('bidAmount'), 'glyphicon-ok': lcBid.isValid('bidAmount', 'ok')}]"
           ng-if="lcBid.isValid('bidGoodsDescription') || lcBid.isValid('bidGoodsDescription', 'ok')"
           data-form-control-icon-for="bidGoodsDescription"></i>

        <div ng-messages="bidForm.bidAmount.$error" role="alert">
          <div ng-if="lcBid.isValid('bidAmount')">
            <div ng-messages-include="form-error-messages"></div>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
</div>
