<div id="search-form-m-root-container" class="search-form-m-root-container">
  <form novalidate class="form-horizontal" ng-submit="searchFormMModal.submitSearchParams(searchFormMModal.searchParams)"
        name="searchFormMModalForm">
    <fieldset class="search-form-m-container" style="position: relative; padding: 7px;">

      <div class="form-group form-m-number-group">
        <label class="control-label col-md-4 col-lg-4 col-sm-4" for="form-m-number">Form M Number</label>

        <div class="col-md-8 col-lg-8 col-sm-8">
          <input class="form-control" maxlength="13" id="form-m-number" to-upper
                 ng-pattern="/(?:mf)?\d{4,11}/i"
                 ng-model="searchFormMModal.searchParams.number"/>
        </div>
      </div>

      <div class="form-group applicant-group">
        <label class="control-label col-md-4 col-lg-4 col-sm-4" for="applicant">Applicant</label>

        <div class="col-md-8 col-lg-8 col-sm-8">
          <input class="form-control" type="text" min="3" id="applicant"
                 ng-model="searchFormMModal.searchParams.applicant"
                 typeahead-min-length="3"
                 typeahead="applicant as applicant.name for applicant in searchFormMModal.getApplicant($viewValue)"
              />
        </div>
      </div>

      <div class="form-group currency-group">
        <label class="control-label col-md-4 col-lg-4 col-sm-4" for="currency">Currency</label>

        <div class="col-md-8 col-lg-8 col-sm-8">
          <input class="form-control" id="currency" maxlength="3"
                 ng-model="searchFormMModal.searchParams.currency"
                 typeahead="currency as currency.code for currency in searchFormMModal.getCurrency($viewValue)"
                 typeahead-min-length="2"
              />
        </div>
      </div>

      <div class="form-group amount-group">
        <label class="control-label col-md-4 col-lg-4 col-sm-4" for="amount">Amount</label>

        <div class="col-md-8 col-lg-8 col-sm-8">
          <input class="form-control" id="amount" ng-model="searchFormMModal.searchParams.amount" number-format/>
        </div>
      </div>
    </fieldset>

    <div class="form-m-lc-issue-container">
      <span ng-click="searchFormMModal.toggleShowLcIssueContainer()" class="form-m-lc-issue-toggle-show">
        <span
            ng-class="['glyphicon', {'glyphicon-chevron-down': !searchFormMModal.showLcIssueContainer, 'glyphicon-chevron-up': searchFormMModal.showLcIssueContainer}]">
        </span>
        {$searchFormMModal.searchLcIssuesTitle$} <!--TODO: when issues list appear and text changes to 'dismiss', add a text that shows user can select from the issues -->
      </span>

      <div class="form-m-search-lc-issue" ng-show="searchFormMModal.showLcIssueContainer">
        <lc-issue lc-issue-show="searchFormMModal.showLcIssueContainer"
                  lc-issues-selected="searchFormMModal.selectedLcIssues"/>
      </div>
    </div>

    <div class="row search-form-m-form-control">
      <div class="col-md-4 col-lg-4 col-sm-4" style="text-align: left">
        <span class="btn btn-default"
              ng-click="searchFormMModal.reset(searchFormMModalForm)">
          Reset
        </span>
      </div>

      <div class="col-md-4 col-lg-4 col-sm-4" style="text-align: center">
        <button type="submit" class="btn btn-info" ng-disabled="searchFormMModalForm.$invalid">
          Search Form M
        </button>
      </div>

      <div class="col-md-4 col-lg-4 col-sm-4" style="text-align: right">
        <span class="btn btn-default" ng-click="searchFormMModal.close()">Close</span>
      </div>
    </div>
  </form>
</div>
