<div class="existing-allocations-directive-container">
  <div class="search-allocation-container">
    <uib-accordion>
      <uib-accordion-group
          is-open="searchAllocations.isAllocationSearchOpen">
        <uib-accordion-heading>
          <i class="glyphicon"
             ng-class="{'glyphicon-chevron-down': searchAllocations.isAllocationSearchOpen, 'glyphicon-chevron-right': !searchAllocations.isAllocationSearchOpen}"></i>
          Search Allocations
        </uib-accordion-heading>

        <div class="search-allocation-inputs">
          <div class="start-end-dates kanmii-input-group">
            <div class="group start-date">
              <label for="start-date" class="label">Start Date</label>

              <div class="the-input-group">
                <input type="text" id="start-date"
                       ng-model="searchAllocations.search.startDate"
                       uib-datepicker-popup="{$searchAllocations.datePickerFormat$}"
                       is-open="searchAllocations.datePickerIsOpenFor.startDate"
                >

              <span class="the-input-group-add-on" ng-click="searchAllocations.openDatePickerFor('startDate')">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
              </div>

            </div>

            <div class="group end-date">
              <label for="end-date" class="label">End Date</label>

              <div class="the-input-group">
                <input type="text" id="end-date"
                       ng-model="searchAllocations.search.endDate"
                       uib-datepicker-popup="{$searchAllocations.datePickerFormat$}"
                       is-open="searchAllocations.datePickerIsOpenFor.endDate"
                >

              <span class="the-input-group-add-on" ng-click="searchAllocations.openDatePickerFor('endDate')">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
              </div>

            </div>
          </div>

          <div class="deal-no-ref kanmii-input-group">
            <div class="group deal-no">
              <label for="deal-no" class="label">Deal No.</label>
              <input type="text" id="deal-no" ng-model="searchAllocations.search.dealNo">
            </div>

            <div class="group ref">
              <label for="ref" class="label">Ref</label>
              <input type="text" id="ref" ng-model="searchAllocations.search.ref">
            </div>
          </div>
        </div>

        <div class="form-actions">
          <button class="btn btn-success" type="submit"
                  ng-click="searchAllocations.doSearch(searchAllocations.search)">
            Search
          </button>
          <button class="btn" ng-click="searchAllocations.doSearch('reset')">
            Reset
          </button>
        </div>

      </uib-accordion-group>
    </uib-accordion>
  </div>

  <div ng-if="searchAllocations.showSearchResult">
    <existing-allocations allocation-list="searchAllocations.allocationList"></existing-allocations>
  </div>
</div>
