<form novalidate class="form-horizontal" ng-submit="newLc.createNewLc(newLc.newLc)" name="newLc.newLcForm">
	<fieldset>
		<legend>New LC Request</legend>

		<div class="form-group applicant-group">
			<label class="control-label col-md-2 col-lg-2 col-sm-2" for="applicant">Applicant</label>

			<div class="col-md-10 col-lg-10 col-sm-10">
				<input class="form-control" type="text" min="3" id="applicant" required
				       ng-model="newLc.newLc.applicant"
				       ng-pattern="/.{4,}/"
				       typeahead-min-length="3"
				       typeahead="customer as customer.name for customer in newLc.getCustomers($viewValue)"
					/>
			</div>
		</div>

		<div class="row mf-ccy-group">
			<div class="col-md-6 col-lg-6 col-sm-6 mf-group">
				<div class="form-group">
					<label class="control-label col-md-4 col-lg-4 col-sm-4" for="form-m">Form M Number</label>

					<div class="col-md-8 col-lg-8 col-sm-8">
						<input class="form-control" id="form-m" maxlength="13", name="mf"
						       ng-pattern="/^MF\d{11}/i"
						       ng-model="newLc.newLc.mf"
						       to-upper
							/>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-6 col-sm-6 ccy-group">
				<div class="form-group">
					<label class="control-label col-md-4 col-lg-4 col-sm-4" for="ccy">Currency</label>

					<div class="col-md-8 col-lg-8 col-sm-8">
						<input class="form-control" id="ccy" required maxlength="3"
						       ng-model="newLc.newLc.ccy"
						       typeahead="ccy as ccy.code for ccy in newLc.getCurrencies($viewValue)"
						       typeahead-min-length="3"
							/>
					</div>
				</div>
			</div>
		</div>

		<div class="row amount-group-container">
			<div class="col-md-6 col-lg-6 col-sm-6 amount-group">
				<div class="form-group">
					<label class="control-label col-md-4 col-lg-4 col-sm-4" for="amount">Amount</label>

					<div class="col-md-8 col-lg-8 col-sm-8">
						<input class="form-control" id="amount" required
						       ng-model="newLc.newLc.amount"
						       number-format
							/>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-lg-6 col-sm-6 bid-date-group">
				<div class="form-group">
					<label class="control-label col-md-4 col-lg-4 col-sm-4" for="bid-date">Bid Date</label>

					<div class="col-md-8 col-lg-8 col-sm-8">
						<input class="form-control" id="bid-date"
						       ng-model="newLc.newLc.bid_date"
						       datepicker-popup="dd-MMMM-yyyy"

							/>
					</div>
				</div>
			</div>
		</div>

		<div class="row ti-mf-lc-ref-group">
			<div class="col-md-6 col-lg-6 col-sm-6 ti-mf-group">
				<div class="form-group">
					<label class="control-label col-md-4 col-lg-4 col-sm-4" for="ti-mf">
						TI Form M Number
					</label>

					<div class="col-md-8 col-lg-8 col-sm-8">
						<input class="form-control" id="ti-mf" maxlength="12"
						       ng-pattern="/^CBN\d{9}/"
						       ng-model="newLc.newLc.ti_mf"
						       to-upper
							/>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-6 col-sm-6 lc-ref-group">
				<div class="form-group">
					<label class="control-label col-md-4 col-lg-4 col-sm-4" for="lc-ref">
						LC Ref
					</label>

					<div class="col-md-8 col-lg-8 col-sm-8">
						<input class="form-control" id="lc-ref" maxlength="16"
						       ng-pattern="/^ILCL[A-Z]{3}\d{9}/"
						       ng-model="newLc.newLc.lc_ref"
						       to-upper
							/>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">
				<div class="form-group">
					<label for="status-text" class="control-label col-md-3 col-lg-3 col-sm-3">
						Status
					</label>

					<div class="col-md-9 col-lg-9 col-sm-9">
						<input class="form-control" id="status-text"
						       ng-model="newLc.newLc.status"
						       to-upper
							/>
					</div>
				</div>
			</div>

			<div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
				<button type="submit" class="btn btn-info" ng-disabled="newLc.newLcForm.$invalid">
					Save
				</button>
				<span class="btn btn-default" ng-click="newLc.reset(newLc.newLc)">Clear All</span>
			</div>
		</div>
		</div>

	</fieldset>
</form>

<hr/>

<displayed-lcees-table lc-list="newLc.newLcees"/>
