{% extends 'core_recons/recons-base.html' %}
{% load static %}

{% block page_css %}
  <link rel="stylesheet" href="{% static 'letter_of_credit/css/release-telex.min.css' %}">
{% endblock %}

{% block page_content %}
  <form class="" method="post" id="process-swift-form">
    <div class="">
      <label class="sr-only" for="process-swift">Swift HTML</label>
      <input type="file" name="processSwift" id="process-swift" class="form-control"/>
    </div>
    <div class="text-center">
      <input type="submit" value="Process" id="process-swift-submit">
    </div>
  </form>

  <div class="message-area">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true"
               aria-controls="collapseOne">
              SWIFT Text
            </a>
          </h4>
        </div>

        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <label class="sr-only" for="swift-messages">Swift Messages</label>
            <textarea style="display: none; height: 600px" id="swift-messages" class="form-control"></textarea>
          </div>
        </div>

      </div>
    </div>

    <label class="sr-only" for="swift-messages-20">Swift Messages</label>
    <textarea style="display: none; height: 200px; margin-top: 50px" id="swift-messages-20"
              class="form-control"></textarea>
  </div>
{% endblock %}
{% block page_js %}
  <script src="{% static 'letter_of_credit/js/process_swift/process_swift.min.js' %}"></script>
{% endblock page_js %}
