<div class="form-m-lc-issue-container form-m-add-on-container">
  <div ng-click="lcIssue.toggleShow(issuesForm)"
       class="form-m-add-on-toggle form-m-lc-issue-toggle-show clearfix">
            <span class="form-m-add-on-show-helper" ng-show="lcIssue.showContainer">
              Specify LC Request Issues
            </span>

    <div class="form-m-add-on-show-icon">
      <span
          ng-class="['glyphicon', {'glyphicon-chevron-down': !lcIssue.showContainer, 'glyphicon-chevron-up': lcIssue.showContainer}]">
      </span>

      {$lcIssue.title$}
    </div>
  </div>

  <fieldset ng-form="" name="issuesForm" class="form-m-add-lc-issue" ng-show="lcIssue.showContainer"
            style="margin-top: 10px;">
    <div class="form-group lc-issue-select-group">
      <label for="issue" class="control-label col-sm-12" style="text-align: center">
        Type LC issue
      </label>

      <div class="col-sm-12">
        <input type="text" class="form-control" id="issue" name="issue"
               ng-model="lcIssue.issue" validate-issues
               typeahead-min-length="3" typeahead-on-select="lcIssue.issueSelected($item, $model, $label)"
               uib-typeahead="issue as issue.text for issue in lcIssue.getIssue($viewValue)"/>
      </div>
    </div>

    <div ng-repeat="issue in lcIssue.issues">
      <div class="input-group">
        <label for="issue-text-display" class="sr-only"></label>

        <span class="input-group-addon">{$$index + 1$}</span>

        <input type="text" class="form-control" id="issue-text-display" name="issue-text-display" disabled
               ng-value="issue.text" style="padding-left: 10px;"/>

        <span class="input-group-addon" style="cursor: pointer" ng-click="lcIssue.deleteIssue($index)">
          <span class="glyphicon glyphicon-trash"></span>
        </span>
      </div>
    </div>
  </fieldset>

  <div class="existing-issues open-issues items-table-display" ng-if="lcIssue.nonClosedIssues.length">

    <hr/>

    <table class="table table-responsive table-striped">

      <caption>Issues not closed({$lcIssue.nonClosedIssues.length$})</caption>

      <thead>
        <tr>
          <td>S/N</td>
          <td style="text-align:left;padding-left: 20%;">Issue</td>
          <td></td>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="issue in lcIssue.nonClosedIssues">
          <td>{$$index + 1$}</td>
          <td style="text-align: left;">{$::addFormMState.formatIssueText(issue.issue.text)$}</td>
          <td>
            <span class="glyphicon glyphicon-trash" style="cursor: pointer"
                  ng-click="lcIssue.closeIssue(issue, $index)">
            </span>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="download-issue-btn-container" style="text-align: right;margin-top: 20px;">
      <button type="button" class="btn btn-info" ng-click="lcIssue.downloadIssues()"
              ng-disabled="!addFormMState.disableSubmitBtn()">
        Download issues
      </button>
    </div>
  </div>

  <div class="existing-issues closed-issues items-table-display" ng-if="lcIssue.closedIssues.length">

    <hr/>

    <table class="table table-responsive table-striped">
      <caption>Issues that have been closed ({$lcIssue.closedIssues.length$})</caption>
      <thead>
        <tr>
          <td>S/N</td>
          <td style="text-align:left;padding-left: 20%;">Issue</td>
          <td>Date Created</td>
          <td>Date Closed</td>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="closedIssue in lcIssue.closedIssues">
          <td>{$::$index + 1$}</td>
          <td style="text-align: left;">{$::addFormMState.formatIssueText(closedIssue.issue.text)$}</td>
          <td>{$::closedIssue.created_at |date:'dd-MMM-yyyy'$}</td>
          <td>{$::closedIssue.closed_at |date:'dd-MMM-yyyy'$}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
