.form-m-add-on-container {
  border: 1px solid #E6E6E6;
  padding: 10px;
  border-radius: 2px;
}

.form-m-add-on-toggle {
  cursor: pointer;
  display: block;
  border: 1px solid #E8DFDF;
  padding: 5px 5px;
  border-radius: 3px;
  background-color: #FDFDFD;
}

.form-m-add-on-show-helper {
  text-align: left;
  float: left;
  display: block;
}

.form-m-add-on-show-icon {
  text-align: right;
  float: right;
  display: block;
}

.add-form-m-root-container {

  .add-form-m-form-row {
    position: relative;

    .add-form-m-saving-indicator {
      position: absolute;
      top: 10%;
      left: 20%;
      z-index: 9999999;
      background-color: #6ED9B2;
      border: 1px solid #4FA686;
      border-radius: 5px;

      & > .add-form-m-saving-indicator-dismiss {
        left: 94%;
        top: 1px;
        font-size: 18px;
        cursor: pointer;
      }

      & > pre {
        background-color: #6ED9B2;
        border: 0;
      }
    }
  }

  .bid-request-form-container {
    margin-bottom: 5px;

    & > .form-m-bid-toggle-show {
      margin-bottom: 5px;

      & > .form-m-add-on-show-helper {
        width: 30%;
      }

      & > .form-m-add-on-show-icon {
        width: 30%;
      }
    }
  }

  .form-m-lc-issue-container {
    text-align: right;
    margin-top: 30px;
    margin-bottom: 60px;

    & > .form-m-lc-issue-toggle-show {
      & > .form-m-add-on-show-helper {
        width: 60%;
      }

      & > .form-m-add-on-show-icon {
        width: 40%;
      }
    }
  }

  .lc-issue-item {
    text-align: left;
    border: 1px solid #E8DFDF;
    padding: 1px 3px 4px;
    margin-left: 1px;
    margin-top: 2px;
    border-radius: 2px;

    &.selected {
      background-color: #D1ECF9;
    }
  }

  .closed-issues {
    .input-group {

      .form-control, .input-group-addon {
        background-color: #E5FEE5;
      }
    }
  }

  .open-issues {
    .input-group {

      .form-control, .input-group-addon {
        background-color: #FBD3D3;
      }
    }
  }
}
