<div id="add-form-m-root-container" class="add-form-m-root-container" style="margin-top: 5px;">
  <form class="form-horizontal" name="addFormMForm" novalidate autocomplete="off" id="addFormMForm"
        ng-submit="addFormMState.submit(addFormMState.formM)">

    <div class="row add-form-m-form-row">
      <div class="col-sm-6">
        <fieldset class="add-new-form-m-container" ng-form name="newFormMForm">

          <div class="form-group form-m-group">
            <label class="control-label col-sm-3" for="form-m">Search Form M</label>

            <div class="col-sm-9">
              <div class="input-group">
                <span class="input-group-addon" data-toggle="tooltip" ng-dblclick="addFormMState.getUploadedFormM()"
                      title="Search form M in single window" id="form-m-search-trigger">
                  <i class="glyphicon glyphicon-search"></i>
                </span>

                <input class="form-control" type="text" min="4" id="form-m" disabled
                       placeholder="double click icon to search form M in single window"
                       ng-model="addFormMState.searchFormM.mf"/>
              </div>
            </div>
          </div>

          <div class="form-group form-m-owner-group" ng-show="addFormMState.searchFormM.applicant">
            <label class="control-label col-sm-3" for="form-m-owner">Owner</label>

            <div class="col-sm-9">
              <input class="form-control" id="form-m-owner" name="form-m-owner" disabled
                     autocomplete="off"
                     ng-model="addFormMState.searchFormM.applicant"/>
            </div>
          </div>

          <div class="form-group form-m-number-group" control-has-feedback>
            <label class="control-label col-sm-3" for="form-m-number">Form M Number</label>

            <div class="col-sm-9">
              <div class="input-group">
                <span class="input-group-addon" style="cursor:pointer;"
                      ng-click="addFormMState.enableFieldEdit('number')">
                  <i
                    ng-class="['glyphicon', {'glyphicon-pencil': !addFormMState.fieldIsEditable.number, 'glyphicon-eye-open': addFormMState.fieldIsEditable.number}]"></i>
                </span>

                <input class="form-control" maxlength="13" id="form-m-number" required
                       name="formMNumber"
                       to-upper ng-pattern="/mf\d{11}/i" ng-readonly="!addFormMState.fieldIsEditable.number"
                       ng-model="addFormMState.formM.number"/>
              </div>
            </div>
          </div>

          <div class="form-group applicant-group" control-has-feedback feedback-after=".input-group-addon">
            <label class="control-label col-sm-3" for="applicant">Applicant</label>

            <div class="col-sm-9">
              <div class="input-group">
                <span class="input-group-addon" style="cursor:pointer;"
                      ng-click="addFormMState.enableFieldEdit('applicant')">
                  <i
                    ng-class="['glyphicon', {'glyphicon-pencil': !addFormMState.fieldIsEditable.applicant, 'glyphicon-eye-open': addFormMState.fieldIsEditable.applicant}]"></i>
                </span>

                <input class="form-control" type="text" ng-minlength="3" id="applicant" name="applicant" required
                       ng-model="addFormMState.formM.applicant" autocomplete="off"
                       ng-pattern="addFormMState.validators.applicant"
                       ng-readonly="!addFormMState.fieldIsEditable.applicant"
                       typeahead-min-length="3"
                       typeahead-select-on-exact="true"
                       typeahead-select-on-blur="true"
                       uib-typeahead="applicant as applicant.name for applicant in addFormMState.getApplicant($viewValue)"
                       validate-complex-object
                />

                <span class="input-group-addon" ng-show="addFormMState.fieldIsEditable.applicant">
                  <img id="add-new-customer" ng-src="{$$root.addIconSrc$}" alt="Add new customer" add-customer
                       init-customer-name="newFormMForm.applicant.$viewValue"
                       added-new-customer="addFormMState.formM.applicant"/>
                </span>
              </div>
            </div>
          </div>

          <div class="form-group currency-group" control-has-feedback>
            <label class="control-label col-sm-3" for="currency">Currency</label>

            <div class="col-sm-9">
              <div class="input-group">
                <span class="input-group-addon" style="cursor:pointer;"
                      ng-click="addFormMState.enableFieldEdit('currency')">
                  <i
                    ng-class="['glyphicon', {'glyphicon-pencil': !addFormMState.fieldIsEditable.currency, 'glyphicon-eye-open': addFormMState.fieldIsEditable.currency}]"></i>
                </span>

                <input class="form-control" id="currency" maxlength="3" name="currency" required
                       autocomplete="off"
                       ng-model="addFormMState.formM.currency"
                       ng-readonly="!addFormMState.fieldIsEditable.currency"
                       typeahead-select-on-blur="true"
                       typeahead-select-on-exact="true"
                       uib-typeahead="currency as currency.code for currency in addFormMState.getCurrency($viewValue)"
                       validate-complex-object
                />
              </div>
            </div>
          </div>

          <div class="form-group amount-group" control-has-feedback>
            <label class="control-label col-sm-3" for="amount">Amount</label>

            <div class="col-sm-9">
              <div class="input-group">
                <span class="input-group-addon" style="cursor:pointer;"
                      ng-click="addFormMState.enableFieldEdit('amount')">
                  <i
                    ng-class="['glyphicon', {'glyphicon-pencil': !addFormMState.fieldIsEditable.amount, 'glyphicon-eye-open': addFormMState.fieldIsEditable.amount}]"></i>
                </span>

                <input class="form-control" id="amount" name="amount" required ng-model="addFormMState.formM.amount"
                       number-format
                       ng-readonly="!addFormMState.fieldIsEditable.amount"/>
              </div>
            </div>
          </div>

          <div class="form-group received-date-group" control-has-feedback feedback-after=".input-group-addon">
            <label class="control-label col-sm-3" for="received-date">Date Received</label>

            <div class="col-sm-9">
              <div class="input-group">
                <span class="input-group-addon" style="cursor:pointer;"
                      ng-click="addFormMState.enableFieldEdit('date_received')">
                  <i
                    ng-class="['glyphicon', {'glyphicon-pencil': !addFormMState.fieldIsEditable.date_received, 'glyphicon-eye-open': addFormMState.fieldIsEditable.date_received}]"></i>
                </span>

                <input class="form-control" id="received-date" required name="receivedDate"
                       ng-model="addFormMState.formM.date_received"
                       ng-readonly="!addFormMState.fieldIsEditable.date_received"
                       uib-datepicker-popup="{$addFormMState.formM.datePickerFormat$}"
                       is-open="addFormMState.datePickerIsOpen"/>

                <span class="input-group-addon" ng-click="addFormMState.openDatePicker($event)"
                      ng-show="addFormMState.fieldIsEditable.date_received">
                  <i class=" glyphicon glyphicon-calendar"></i>
                </span>
              </div>
            </div>
          </div>

          <div class="form-group lc-ref-group" control-has-feedback
               ng-if="!addFormMState.formM.lc_number && addFormMState.formM.number">
            <label class="control-label col-sm-3" for="lc-ref">Lc Ref</label>

            <div class="col-sm-9">
              <input class="form-control" id="lc-ref" name="lcRef" maxlength="16"
                     ng-model="addFormMState.formM.lcRef"
                     typeahead-min-length="13"
                     typeahead-select-on-blur="true"
                     typeahead-select-on-exact="true"
                     uib-typeahead="lc as lc.lc_number for lc in addFormMState.getLc($viewValue)"
                     validate-complex-object
              />
            </div>
          </div>

          <div class="form-group lc-number-group" ng-if="addFormMState.formM.lc_number">
            <label class="control-label col-sm-3" for="lc-number">LC Number</label>

            <div class="col-sm-9">
              <input class="form-control" id="lc-number" name="lcNumber" ng-model="addFormMState.formM.lc_number"
                     disabled/>
            </div>
          </div>
        </fieldset>

        <div class="form-group add-form-m-form-control">
          <div class="col-sm-3">
            <button type="button" class="btn btn-info" ng-click="addFormMState.formM.showSummary()"
                    ng-show="addFormMState.detailedFormM">
              View summary
            </button>
          </div>

          <div class="col-sm-5" style="text-align: left ">
            <button type="submit" name="formMAddSubmitBtn" class="btn btn-info"
                    ng-disabled="addFormMState.disableSubmitBtn()">
              Save
            </button>
          </div>

          <div class="col-sm-4" style="text-align:right ">
            <span class="btn btn-default" ng-click="addFormMState.reset(addFormMForm)">Clear</span>
          </div>
        </div>

        <div form-m-comment=""></div>
        <div lc-cover></div>
      </div>

      <div class="col-sm-6">
        <div lc-bid></div>

        <div lc-issue></div>
      </div>
    </div>
  </form>
</div>
