<div class="btn-group-vertical">
  <a class="btn btn-default single-btn" href="/admin/letter_of_credit/lcregister/">All LC</a>

  <a class="btn btn-default single-btn" href="{% url 'letter-of-credit' %}">Manage Letters of Credit</a>

  <a class="btn btn-default single-btn" href="{% url 'upload_lc_register' %}">Upload LC Register</a>

  <a class="btn btn-default single-btn" href="{% url 'release-telex-mt-700' %}">Release Telex MT700</a>

  <a class="btn btn-default single-btn" href="{% url 'payment-home' %}">Payments Of Letter Of Credit</a>
</div>
