{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Home{% endblock title %} - Trade App</title>
  <link rel="stylesheet" href="{% static 'core_recons/css/compiled.min.css' %}">
  <link rel="shortcut icon" href="{% static 'favicon.ico' %}">

  {% block page_css %}{% endblock page_css %}

  <script src="{% static 'core_recons/js/initial/compiled.min.js' %}"></script>

  {% block page_js_up %}
    <script>
      var staticPrefix = '{% static "" %}';
      var app = angular.module( 'tradeApp', [] );
      app.value( 'urls', JSON.parse( '{{ urls | escapejs }}' || '{}' ) );
      app.constant( 'staticPrefix', staticPrefix );
      app.value( 'formMCoverTypes', JSON.parse( '{{ form_m_cover_types | escapejs }}' || '[]' ) );
    </script>
  {% endblock page_js_up %}
</head>
<body>
  {% block main_nav_top %} {% include 'core_recons/top-nav.html' %} {% endblock main_nav_top %}

  <div class="container-fluid">
    {% if not user.is_anonymous %}
      {% block page_content %}
        {% include 'core_recons/main-menu-tree.html' %}
      {% endblock page_content %}
    {% endif %}
  </div>

  <script>
    $( function () {
      $.datepicker.setDefaults( { dateFormat: "dd-mm-yy" } );
      $( "input[class*=show-date-picker]" ).datepicker();
    } );
  </script>

  {% block page_js %}
    <script>
      $( function () {
        var $mainMenuTree = $( '#main-menu-tree' )
        $mainMenuTree
          .on( 'select_node.jstree', function (evt, data) {
            var target = data.event.target
            if ( target.nodeName === 'A' ) {
              var href = target.href;

              if ( href.indexOf( window.location.host ) != -1 ) {
                window.location.href = href;
              }
            }
          } )
          .jstree( {
            core: {
              multiple: false,
              themes: {
                dots: false
              }
            }
          } );

        var mainMenuTree = $mainMenuTree.jstree( true );

        mainMenuTree.open_all();
      } )
    </script>
  {% endblock page_js %}

</body>
</html>


