<div class="bid-request-form-container form-m-add-on-container">

  <div ng-click="lcBid.toggleShow(bidForm)"
       class="form-m-add-on-toggle form-m-bid-toggle-show clearfix">
    <span class="form-m-add-on-show-helper" ng-if="lcBid.formM.showBidForm">
      {$lcBid.formM.showEditBid ? 'Edit Bid' : 'New Bid Request'$}
    </span>

    <div class="form-m-add-on-show-icon form-m-bid-add-on-show-icon">
      <span
        ng-class="['glyphicon', {'glyphicon-chevron-down': !lcBid.formM.showBidForm, 'glyphicon-chevron-up': lcBid.formM.showBidForm}]">
      </span>

      {$lcBid.title$}
    </div>
  </div>

  <fieldset ng-form name="bidForm" ng-show="lcBid.formM.showBidForm">
    <div class="form-group bid-goods-description" control-has-feedback>

      <label class="control-label col-sm-3" for="goods-description">Goods Description</label>

      <div class="col-sm-9">
        <input class="form-control" id="goods-description" name="bidGoodsDescription" required ng-minlength="3"
               ng-required="lcBid.formM.showBidForm" to-upper
               ng-model="lcBid.formM.bid.goods_description"/>

        <div ng-messages="bidForm.bidGoodsDescription.$error" role="alert">
          <div ng-if="lcBid.isValid('bidGoodsDescription')">
            <div ng-messages-include="form-error-messages"></div>
          </div>
        </div>

      </div>
    </div>

    <div class="form-group bid-amount-group" control-has-feedback>

      <label class="control-label col-sm-3" for="bid-amount">Amount</label>

      <div class="col-sm-9">
        <input class="form-control" id="bid-amount" name="bidAmount" ng-model="lcBid.amountGetterSetter"
               ng-model-options="{getterSetter: true, updateOn: 'blur'}"
               ng-required="lcBid.formM.showBidForm"/>

        <div ng-messages="bidForm.bidAmount.$error" role="alert">
          <div ng-if="lcBid.isValid('bidAmount')">
            <div ng-messages-include="form-error-messages"></div>
          </div>
        </div>

      </div>
    </div>

    <div class="form-group bid-maturity-date-group" control-has-feedback feedback-after=".input-group-addon">

      <label class="control-label col-sm-3" for="bid-maturity-date">Maturity Date</label>

      <div class="col-sm-9">
        <div class="input-group">
          <input class="form-control" id="bid-maturity-date" name="bidMaturityDate"
                 ng-model="lcBid.formM.bid.maturity"
                 uib-datepicker-popup="{$lcBid.formM.datePickerFormat$}"
                 is-open="lcBid.datePickerIsOpen.bidMaturityDate"/>

            <span class="input-group-addon" ng-click="lcBid.openDatePicker('bidMaturityDate')">
              <i class=" glyphicon glyphicon-calendar"></i>
            </span>
        </div>

        <div ng-messages="bidForm.bidMaturityDate.$error" role="alert">
          <div ng-if="lcBid.isValid('bidMaturityDate')">
            <div ng-messages-include="form-error-messages"></div>
          </div>
        </div>
      </div>
    </div>

    <div ng-if="lcBid.formM.showEditBid">
      <div class="form-group bid-created-date-group" control-has-feedback feedback-after=".input-group-addon">

        <label class="control-label col-sm-3" for="bid-created-date">Date Created</label>

        <div class="col-sm-9">
          <div class="input-group">
            <input class="form-control" id="bid-created-date" name="bidCreatedDate"
                   ng-model="lcBid.formM.bid.created_at"
                   ng-disabled="!lcBid.formM.showEditBid" ng-required="lcBid.formM.showEditBid"
                   uib-datepicker-popup="{$lcBid.formM.datePickerFormat$}"
                   is-open="lcBid.datePickerIsOpen.bidCreatedDate"/>

            <span class="input-group-addon" ng-click="lcBid.openDatePicker('bidCreatedDate')">
              <i class=" glyphicon glyphicon-calendar"></i>
            </span>
          </div>

          <div ng-messages="bidForm.bidCreatedDate.$error" role="alert">
            <div ng-if="lcBid.isValid('bidCreatedDate')">
              <div ng-messages-include="form-error-messages"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group bid-requested-date-group" control-has-feedback feedback-after=".input-group-addon">

        <label class="control-label col-sm-3" for="bid-requested-date">Date Requested</label>

        <div class="col-sm-9">
          <div class="input-group">
            <input class="form-control" id="bid-requested-date" name="bidRequestedDate"
                   ng-model="lcBid.formM.bid.requested_at" ng-disabled="!lcBid.formM.showEditBid"
                   uib-datepicker-popup="{$lcBid.formM.datePickerFormat$}"
                   is-open="lcBid.datePickerIsOpen.bidRequestedDate"/>

            <span class="input-group-addon" ng-click="lcBid.openDatePicker('bidRequestedDate')">
              <i class=" glyphicon glyphicon-calendar"></i>
            </span>
          </div>

          <div ng-messages="bidForm.bidRequestedDate.$error" role="alert">
            <div ng-if="lcBid.isValid('bidRequestedDate')">
              <div ng-messages-include="form-error-messages"></div>
            </div>
          </div>

        </div>
      </div>

      <div class="form-group bid-downloaded-group" control-has-feedback control-selector="#bid-downloaded">

        <label class="control-label col-sm-3" for="bid-downloaded">Downloaded</label>

        <div class="col-sm-9">
          <input type="checkbox" id="bid-downloaded" name="bidDownloaded"
                 ng-model="lcBid.formM.bid.downloaded" ng-disabled="!lcBid.formM.showEditBid"/>

          <div ng-messages="bidForm.bidDownloaded.$error" role="alert">
            <div ng-if="lcBid.isValid('bidRequestedDate')">
              <div ng-messages-include="form-error-messages"></div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div style="text-align: right" ng-show="lcBid.formM.showEditBid">
      <button type="button" class="btn btn-info" ng-click="lcBid.editBid()" ng-disabled="lcBid.editBidInvalid(bidForm)">
        Edit Bid
      </button>
    </div>
  </fieldset>

  <div class="items-table-display" ng-if="lcBid.formM.existingBids.length">

    <hr/>

    <table class="table table-responsive table-striped">
      <caption>
        Existing Bids <span class="badge">{$lcBid.formM.existingBids.length$}</span>
      </caption>
      <thead>
        <tr>
          <td>S/N</td>
          <td>Currency</td>
          <td>Amount</td>
          <td>Date Sent</td>
          <td></td>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="bid in lcBid.formM.existingBids" ng-dblclick="lcBid.onBidDblClick(bid, $index, bidForm)"
            style="cursor:pointer;">
          <td style="width: 66px;">{$$index + 1$}</td>

          <td style="width: 15px;">
            {$::lcBid.formM.currency.code$}
          </td>

          <td style="text-align: right; width: 100px;">
            {$::bid.amount|number:2$}
          </td>

          <td>
            {$::bid.requested_at|date:'dd-MMM-yyyy'$}
          </td>

          <td>
            <span class="glyphicon glyphicon-trash" ng-click="lcBid.trashBid(bid, $index)"></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
