{% extends "admin/base.html" %}
{% load static %}
{% load i18n %}s
{% block title %}{{ title }} | {% trans 'Trade App Admin' %}{% endblock %}
{% block extrastyle %}
  <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
{% endblock %}
{% block branding %}
  <h1 id="site-name">{% trans 'Trade App' %}</h1>
{% endblock %}

{% block nav-global %}
  <a href="/">Home Global</a> <span>|</span>
  <a href="{% url 'unmatched-upload' %}">Upload/Display Clirec Records</a> <span>|</span>
  <a href="{% url 'upload_lc_register' %}">LC Register Upload</a> |
{% endblock %}
