.treasury-allocation-router-state-container {

  .parsed-pasted-bid-table-container {
    margin-top: 25px;
    max-width: 100%;

    & > .parsed-pasted-bid-table {
      overflow: auto;
      max-height: 455px;

      .pasted-bid-row-matched {
        background: #cbf4cb;
      }

      tbody > tr > td:nth-last-child(-n+5) { text-align: right; }
    }
  }

  .original-request-row {
    display: block;
    margin-bottom: 5px;
    border-bottom: 1px solid blue;

    &:last-child {
      margin-bottom: 0;
      border-bottom: none;
    }
  }

}