<div class="treasury-upload-allocation-directive-container">
  <span style="cursor: pointer; padding: 10px 20px 0 0;"
        ng-click="uploadTreasuryAllocation.showPasteForm = !uploadTreasuryAllocation.showPasteForm"
        ng-class="['glyphicon', {'glyphicon-chevron-down': !uploadTreasuryAllocation.showPasteForm, 'glyphicon-chevron-up': uploadTreasuryAllocation.showPasteForm}]"></span>

  <form ng-show="uploadTreasuryAllocation.showPasteForm" class="form-horizontal" role="form" name="pasteBlotterForm">
    <textarea style="height: 350px;" name="pasteBlotterText" id="paste-blotter " class="form-control"
              placeholder="copy and paste from blotter" ng-model="uploadTreasuryAllocation.pastedBlotter"
              ng-change="uploadTreasuryAllocation.onBlotterPasted()"></textarea>
  </form>

  <div ng-if="uploadTreasuryAllocation.showParsedPastedBid" class="parsed-pasted-bid-table-container clearfix">
    <div class="parsed-pasted-bid-table raw-bids-table">
      <table class="table table-bordered table-condensed table-responsive table-striped">
        <thead>
          <tr>
            <th>S/N</th>
            <th ng-repeat="key in uploadTreasuryAllocation.parsedPastedBidKeys">
              {$key$}
            </th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="allocationObj in uploadTreasuryAllocation.parsedPastedBids"
              ng-class="['row', {'pasted-bid-row-matched': allocationObj.matched}]">

            <td ng-repeat="key in uploadTreasuryAllocation.parsedPastedBidKeys">
              {$allocationObj[key]$}
            </td>
          </tr>
        </tbody>

      </table>
    </div>
  </div>
</div>