.treasury-allocation-router-state-container {
  .alert {
    padding: 0;
    margin-bottom: 10px;

    pre {
      margin: 0;
      padding: 4px;
    }
  }

  .blotter-pasted-text-invalid {
    background-color: #fa39c3;
    color: white;

    & > pre {
      font-size: 16px;
      background-color: #fa39c3;
      color: white;
      border: none;
    }
  }

  .bid-table-container {
    margin-top: 25px;
    max-width: 100%;
  }

  .bid-table {
    & > .save-parsed-allocation-btn-container {
      text-align: right;
      margin-bottom: 5px;

      & > .btn {
        width: 150px;
        padding: 4px;
      }

      [name=treasuryAllocationSpinner] {
        display: inline;
        float: right;

        & > img {
          width: 22px;
          height: 22px;
          border-radius: 20px;
        }
      }
    }
  }

  .allocations-saving {
    background: #cb9b9b;
    opacity: 0.5;
    position: fixed;
    height: 353px;
    width: 100%;
    z-index: 99999999;
  }

}
