.treasury-allocation-router-state-container {

  .blotter-pasted-text-invalid {
    background-color: #fa39c3;
    color: white;

    & > pre {
      font-size: 16px;
      background-color: #fa39c3;
      color: white;
      border: none;
    }
  }

  .parsed-pasted-bid-table-container {
    margin-top: 25px;
    max-width: 100%;

    & > .save-parsed-allocation-btn-container {
      text-align: right;
      margin-bottom: 5px;

      & > .btn {
        width: 150px;
        padding: 4px;
      }

      [name=treasuryAllocationSpinner] {
        display: inline;
        float: right;

        & > img {
          width: 22px;
          height: 22px;
          border-radius: 20px;
        }
      }
    }

    & > .parsed-pasted-bid-table {
      position: relative;
      overflow: auto;
      max-height: 455px;

      & > .parsed-pasted-bid-table-overlay {
        background: #cb9b9b;
        opacity: 0.5;
        position: fixed;
        height: 100%;
        width: 100%;
        z-index: 99999999;
      }

      .pasted-bid-row-matched {
        background: #cbf4cb;
      }

      tbody > tr > td:nth-last-child(-n+5) { text-align: right; }
    }
  }

  //original request row is currently a span
  .original-request-row {
    display: block;
    margin-bottom: 5px;

    &.multiple-requests {
      padding: 2px;
      font-size: 90%;
      border-radius: 4px;
      color: #c7254e;
      background-color: #f9f2f4;
    }

    &.deleted {
      text-decoration: line-through;
      color: #c7254e;
    }

    .remove-add-bid-icons {
      padding: 0 4px 0 15px;
      font-size: 90%;
      cursor: pointer;

      &.glyphicon-remove { color: #c7254e; }

      &.glyphicon-plus-sign { color: #06ac06; }

    }

    &:last-child {
      margin-bottom: 0;
    }
  }

}
