<script type="text/ng-template" id="blotter-pasted-text-invalid.html">
  <div class="alert blotter-pasted-text-invalid" role="alert">
    <button ng-show="closeable" type="button" class="close" ng-click="close({$event: $event})">
      <span aria-hidden="true">×</span>
      <span class="sr-only">Close</span>
    </button>

    <pre ng-transclude></pre>
  </div>
</script>


<div class="treasury-upload-allocation-directive-container">

  <uib-accordion>
    <uib-accordion-group is-open="uploadTreasuryAllocation.showPasteForm">
      <uib-accordion-heading>
        <i class="glyphicon"
           ng-class="{'glyphicon-chevron-down': uploadTreasuryAllocation.showPasteForm, 'glyphicon-chevron-right': !uploadTreasuryAllocation.showPasteForm}"></i>
        Copy and paste from blotter excel
      </uib-accordion-heading>

      <uib-alert ng-if="uploadTreasuryAllocation.invalidPastedTextMsg"
                 template-url="blotter-pasted-text-invalid.html"
                 dismiss-on-timeout="25000"
                 close="uploadTreasuryAllocation.closeBlotterPasteAlert()">
        {$uploadTreasuryAllocation.invalidPastedTextMsg$}
      </uib-alert>

      <form style="position: relative;" class="form-horizontal" role="form" name="pasteBlotterForm"
            ng-show="uploadTreasuryAllocation.showPasteForm">

      <textarea style="height: 350px;" name="pasteBlotterText" id="paste-blotter "
                class="form-control"
                placeholder="copy and paste from blotter" ng-model="uploadTreasuryAllocation.pastedBlotter"
                ng-change="uploadTreasuryAllocation.onBlotterPasted()"></textarea>
      </form>
    </uib-accordion-group>
  </uib-accordion>

  <div ng-if="uploadTreasuryAllocation.allocationList" class="bid-table-container bid-table">
    <display-allocations allocation-list="uploadTreasuryAllocation.allocationList"></display-allocations>
  </div>

  <div ng-if="uploadTreasuryAllocation.rejectedDataList" class="bid-table-container">

    <uib-alert template-url="blotter-pasted-text-invalid.html">
      Blotter cannot be saved. Please see reasons below:
    </uib-alert>

    <table class="table table-bordered table-condensed table-responsive table-striped">
      <thead>
        <tr>
          <th>S/N</th>
          <th>DEAL NO</th>
          <th>DEAL DATE</th>
          <th>TYPE</th>
          <th>AMOUNT</th>
          <th>SAVE STATUS</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="row in uploadTreasuryAllocation.rejectedDataList track by row.index">
          <td>{$$index +1$}</td>
          <td>{$::row.deal_number$}</td>
          <td>{$::row.deal_date$}</td>
          <td>{$::row.transaction_type$}</td>
          <td class="td-number">{$::row.fcy_amount| number:2$}</td>
          <td>
            <span style="color: green;font-weight: 900; font-size: 1.3em;"
                  ng-if="!row.errors">Data ok - can be saved!</span>

            <span ng-if="row.errors" style="color: #c7254e; display: block; margin-left: 30px">Cannot be saved: </span>
            <span style="color: #c7254e; display: block" ng-repeat="rowError in row.errors">
              {$rowError$}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
