<div class="existing-allocations-directive-container">
  <div class="search-allocation-container">
    <uib-accordion>
      <uib-accordion-group
          is-open="existingAllocations.isAllocationSearchOpen">
        <uib-accordion-heading>
          <i class="glyphicon"
             ng-class="{'glyphicon-chevron-down': existingAllocations.isAllocationSearchOpen, 'glyphicon-chevron-right': !existingAllocations.isAllocationSearchOpen}"></i>
          Search Allocations
        </uib-accordion-heading>

        <div class="search-allocation-inputs">
          <div class="start-end-dates kanmii-input-group">
            <div class="group start-date">
              <label for="start-date" class="label">Start Date</label>

              <div class="the-input-group">
                <input type="text" id="start-date"
                       ng-model="existingAllocations.search.startDate"
                       uib-datepicker-popup="{$existingAllocations.datePickerFormat$}"
                       is-open="existingAllocations.datePickerIsOpenFor.startDate"
                >

              <span class="the-input-group-add-on" ng-click="existingAllocations.openDatePickerFor('startDate')">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
              </div>

            </div>

            <div class="group end-date">
              <label for="end-date" class="label">End Date</label>

              <div class="the-input-group">
                <input type="text" id="end-date"
                       ng-model="existingAllocations.search.endDate"
                       uib-datepicker-popup="{$existingAllocations.datePickerFormat$}"
                       is-open="existingAllocations.datePickerIsOpenFor.endDate"
                >

              <span class="the-input-group-add-on" ng-click="existingAllocations.openDatePickerFor('endDate')">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
              </div>

            </div>
          </div>

          <div class="deal-no-ref kanmii-input-group">
            <div class="group deal-no">
              <label for="deal-no" class="label">Deal No.</label>
              <input type="text" id="deal-no" ng-model="existingAllocations.search.dealNo">
            </div>

            <div class="group ref">
              <label for="ref" class="label">Ref</label>
              <input type="text" id="ref" ng-model="existingAllocations.search.ref">
            </div>
          </div>
        </div>

        <div class="form-actions">
          <button class="btn btn-success" type="submit"
                  ng-click="existingAllocations.doSearch(existingAllocations.search)">
            Search
          </button>
          <button class="btn" ng-click="existingAllocations.doSearch()">
            Reset
          </button>
        </div>

      </uib-accordion-group>
    </uib-accordion>
  </div>

  <div class="search-allocations-result treasury-allocations-table-display"
       ng-if="existingAllocations.showSearchResult">

    <table ng-table="existingAllocations.tableParams"
           class="table table-bordered table-condensed table-responsive table-striped">

      <tbody>
        <tr ng-repeat="allocationObj in $data track by allocationObj.id"
            ng-class="{'pasted-bid-row-matched': allocationObj.original_requests}"
        >

          <td data-title="'S/N'">{$$index + 1$}</td>

          <td title="'DEAL NO'" filter="{deal_number: 'text'}">
            {$::allocationObj.deal_number$}
          </td>

          <td data-title="'SOURCE'" sortable="'source_of_fund'">{$::allocationObj.source_of_fund$}</td>

          <td data-title="'DEAL DATE'" sortable="'deal_date'">
            {$::allocationObj.deal_date | date:'dd-MMM-yyyy'$}
          </td>

          <td data-title="'SETTLEMENT DATE'" sortable="'settlement_date'">
            {$::allocationObj.settlement_date | date:'dd-MMM-yyyy'$}
          </td>

          <td data-title="'TYPE'" sortable="'transaction_type'">{$::allocationObj.transaction_type$}</td>

          <td data-title="'CATEGORY'" sortable="'client_category'" filter="{client_category:'text'}">
            {$ allocationObj.client_category$}
          </td>

          <td class="td-number" data-title="'RATE'" sortable="'naira_rate'">
            {$::allocationObj.naira_rate $}
          </td>

          <td data-title="'CCY'" sortable="'currency'" filter="{currency:'text'}">{$::allocationObj.currency $}</td>

          <td data-title="'CUSTOMER NAME'" sortable="'customer_name_no_ref'" filter="{customer_name_no_ref:'text'}">
            {$allocationObj.customer_name_no_ref $}
          </td>

          <td data-title="'REFERENCE'" sortable="'ref'" filter="{ref :'text'}">
            {$allocationObj.ref $}
          </td>

          <td class="td-number" data-title="'CURRENT ALLOCATION'" sortable="'fcy_amount'"
              filter="{fcy_amount: 'number'}">
            {$::allocationObj.fcy_amount |number:2$}
          </td>

          <td style="min-width: 135px;" data-title="'ORIGINAL REQUEST'" filter="{original_requests :'number'}">
              <span class="original-request-row"
                    ng-repeat="req in allocationObj.original_requests"
                    ng-class="{'multiple-requests': (allocationObj.original_requests.length > 1), 'deleted': (allocationObj.original_requests_deleted[$index] == $index)}">

                {$::req |number:2$}

                <span class="glyphicon remove-add-bid-icons"
                      ng-class="{'glyphicon-remove': (allocationObj.original_requests_deleted[$index] != $index), 'glyphicon-plus-sign': (allocationObj.original_requests_deleted[$index] == $index)}"
                      ng-click="uploadTreasuryAllocation.toggleMapOriginalRequest(allocationObj.index, $index)"></span>
              </span>
          </td>

          <td data-title="'PREVIOUS ALLOCATIONS'" filter="{previous_allocations :'number'}">
              <span class="original-request-row"
                    ng-repeat="req in allocationObj.previous_allocations"
                    ng-class="{'multiple-requests': (allocationObj.original_requests.length > 1), 'deleted': (allocationObj.original_requests_deleted[$index] == $index)}">
                {$::req |number:2$}
              </span>
          </td>

          <td data-title="'PREVIOUS OUTSTANDING'" filter="{previous_outstandings :'number'}">
              <span class="original-request-row"
                    ng-repeat="req in allocationObj.previous_outstandings"
                    ng-class="{'multiple-requests': (allocationObj.original_requests.length > 1), 'deleted': (allocationObj.original_requests_deleted[$index] == $index)}">
                {$::req |number:2$}
              </span>
          </td>

          <td data-title="'CURRENT OUTSTANDING'" sortable="'current_outstandings'">
              <span class="original-request-row" ng-repeat="req in allocationObj.current_outstandings"
                    ng-class="{'multiple-requests': (allocationObj.original_requests.length > 1), 'deleted': (allocationObj.original_requests_deleted[$index] == $index)}">
                {$req |number:2$}
              </span>
          </td>

        </tr>
      </tbody>
    </table>
  </div>
</div>
