.existing-allocations-directive-container {
  .allocation-table > tbody > tr.bid-row-matched {
    background: #cbf4cb;
  }

  //original request row is currently a span
  .original-request-row {
    display: block;
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }

    &.multiple-requests {
      padding: 2px;
      font-size: 90%;
      border-radius: 4px;
      color: #c7254e;
      background-color: #f9f2f4;
    }

    &.deleted {
      text-decoration: line-through;
      color: #c7254e;
    }
  }
}
