<div class="bid-edit-modal">
  <form role="form" name="bidEditForm">
    <div class="form-group bid-edit-form-m-number">
      <label class="control-label" for="bid-edit-form-m-number">Form M Number</label>

      <input class="form-control" ng-model="editBidModal.bid.form_m_number" id="bid-edit-form-m-number"
             disabled/>
    </div>

    <div class="form-group customer-name-group">
      <label class="control-label" for="bid-edit-customer-name">Customer Name</label>

      <input class="form-control" type="text" id="bid-edit-customer-name"
             ng-model="editBidModal.bid.applicant"
             disabled/>
    </div>

    <div class="form-group amount-group">
      <label class="control-label" for="bid-edit-form-m-amount">Form M Amount</label>

      <div class="input-group">
        <span class="input-group-addon">{$editBidModal.formM.currency_data.code$}</span>

        <input class="form-control" id="bid-edit-form-m-amount"
               ng-model="editBidModal.formM.amount" disabled number-format/>
      </div>
    </div>

    <div class="form-group goods-description-group">
      <label class="control-label" for="bid-edit-goods-description">
        Goods Description
      </label>

      <div class="input-group">
        <input class="form-control" type="text" id="bid-edit-goods-description"
               ng-disabled="!editBidModal.formIsEditable.goods"
               ng-model="editBidModal.bid.goods_description"/>

        <span class="input-group-addon" style="cursor:pointer;"
              ng-click="editBidModal.toggleEnableEditForm('goods')">
            <span class="glyphicon glyphicon-pencil"></span>
        </span>
      </div>
    </div>

    <div class="form-group bid-amount-group">
      <label class="control-label" for="bid-edit-bid-amount">Bid Amount</label>

      <div class="input-group">
        <span class="input-group-addon">{$editBidModal.formM.currency_data.code$}</span>

        <input type="text" class="form-control" id="bid-edit-bid-amount" required
               ng-disabled="!editBidModal.formIsEditable.amount"
               ng-model="editBidModal.bidAmountGetterSetter"
               ng-model-options="{getterSetter: true, updateOn: 'blur'}"/>

        <span class="input-group-addon" style="cursor:pointer;"
              ng-click="editBidModal.toggleEnableEditForm('amount')">
          <span class="glyphicon glyphicon-pencil"></span>
        </span>
      </div>
    </div>

    <div class="edit-bid-form-control" ng-show="editBidModal.formIsEditable.controls">
      <button type="submit" class="btn btn-info" ng-disabled="bidEditForm.$invalid">
        Edit
      </button>

      <button type="button" class="btn btn-default" ng-click="editBidModal.resetForm(bidEditForm)">
        Reset
      </button>
    </div>
  </form>
</div>
