<div>
  <link rel="stylesheet" href="{$searchLc.cssPath$}" property="stylesheet"/>
  <div class="search-lc-container">
    <form novalidate class="form-horizontal" role="form" name="searchLcForm"
          ng-submit="searchLc.getLcees(searchLc.searchParams)">
      <fieldset>
        <legend>Browse Letter Of Credit</legend>

        <div class="row">
          <div class="col-md-3 col-sm-3 col-lg-3 form-group-container">
            <div class="form-group">
              <label for="lc-number" class="">LC Reference</label>

              <input class="form-control" id="lc-number" maxlength="16"
                     ng-model="searchLc.searchParams.lc_ref"
                     ng-pattern="/^ILCL([a-zA-Z]{1,3}\d{1,9}?)?/"
                     to-upper/>

            </div>
          </div>

          <div class="col-md-3 col-lg-3 col-sm-3 form-group-container">
            <div class="form-group mf-group">
              <label class="" for="form-m">Form M Number</label>

              <input class="form-control" id="form-m" maxlength="13" ng-pattern="/^MF\d{3,}/"
                     ng-model="searchLc.searchParams.mf" to-upper/>
            </div>
          </div>

          <div class="col-md-4 col-lg-4 col-sm-4 form-group-container">
            <div class="form-group applicant-group">
              <label class="" for="applicant">Applicant</label>

              <input class="form-control" type="text" min="3" id="applicant"
                     ng-model="searchLc.searchParams.applicant"
                     ng-pattern="/.{4,}/"
                     typeahead-min-length="3"
                     typeahead="customer as customer.name for customer in searchLc.getCustomers($viewValue)"
                  />
            </div>
          </div>
        </div>
      </fieldset>

      <div class="row">
        <button type="submit" class="btn btn-info" ng-disabled="searchLcForm.$invalid">Search</button>
        <span class="btn btn-default" ng-click="searchLc.reset(searchLcForm)">Reset</span>
      </div>
    </form>
  </div>
</div>
