<form class="form-horizontal" role="form" name="searchLcForm">
  <fieldset>
    <legend>Browse Letter Of Credit</legend>

    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="form-group">
          <label for="lc-number" class="control-label col-md-3 col-sm-3">LC Reference</label>

          <div class="col-md-7 col-sm-7">
            <input class="form-control" id="lc-number" maxlength="16"
                   ng-model="createNewPaymentSearch.searchParams.lc_ref"
                   ng-pattern="/^ILCL([a-zA-Z]{1,3}\d{1,9}?)?/"
                   to-upper/>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-6 col-sm-6">
        <div class="form-group mf-group">
          <label class="control-label col-md-3 col-lg-3 col-sm-4" for="form-m">Form M Number</label>

          <div class="col-md-7 col-lg-7 col-sm-7">
            <input class="form-control" id="form-m" maxlength="13"
                   ng-pattern="/^MF\d{3,}/"
                   ng-model="createNewPaymentSearch.searchParams.mf"
                   to-upper
                />
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-lg-6 col-sm-6">
        <div class="form-group applicant-group">
          <label class="control-label col-md-3 col-lg-3 col-sm-3" for="applicant">Applicant</label>

          <div class="col-md-7 col-lg-7 col-sm-7">
            <input class="form-control" type="text" min="3" id="applicant"
                   ng-model="createNewPaymentSearch.searchParams.applicant"
                   ng-pattern="/.{4,}/"
                   typeahead-min-length="3"
                   typeahead="customer as customer.name for customer in createNewPaymentSearch.getCustomers($viewValue)"
                />
          </div>
        </div>
      </div>
    </div>
  </fieldset>

  <div class="row">
    <div class="col-md-6 col-lg-6 col-sm-6">
      <button type="submit" class="btn btn-info" ng-disabled="searchLcForm.$invalid">Search</button>
      <span class="btn btn-default" ng-click="reset()">Reset</span>
    </div>
  </div>
</form>
