<div class="make-bid-request-root-container">
  <div class="" style="font-size: 18px;margin-bottom: 15px; margin-left: 10px;">
    <a ui-sref="bid" style="text-decoration: initial;">
      <span class="glyphicon glyphicon-circle-arrow-left"></span> Pending Bids
    </a>
  </div>

  <div class="row" style="margin-bottom: 45px;">
    <div class="bid-request-form col-sm-5 well">
      <form novalidate ng-submit="makeBidRequest.submitBid(makeBidRequest.bid)" role="form"
            name="makeBidRequestForm">

        <div class="form-group form-m-group">
          <label for="form-m">Form M</label>

          <div class="input-group">
                <span class="input-group-addon" data-toggle="tooltip" title="Search for Form M"
                      ng-dblclick="makeBidRequest.getFormM()" style="cursor: pointer;">
                  <i class="glyphicon glyphicon-search"></i>
                </span>

            <input type="text" class="form-control" min="4" id="form-m" readonly required
                   placeholder="Double click to search"
                   ng-model="makeBidRequest.mfGetterSetter"
                   ng-dblclick="makeBidRequest.getFormM()"
                   ng-pattern="/^MF\d{11}\: .+/"
                   ng-model-options="{getterSetter: true}"/>

              <span class="input-group-addon" data-toggle="tooltip" ng-show="makeBidRequest.bid.mf.number"
                    ng-click="makeBidRequest.toggleShowFormMDetail()"
                    title="View Form M" style="cursor:pointer;">
                  <i class="glyphicon glyphicon-eye-open"></i>
              </span>
          </div>
        </div>

        <div class="form-group amount-group">
          <label for="amount">Bid Amount</label>

          <div class="input-group">

            <span class="input-group-addon">{$makeBidRequest.bid.mf.currency_data.code || '@'$}</span>

            <input type="text" class="form-control" id="amount" required ng-model="makeBidRequest.amountGetterSetter"
                   ng-model-options="{getterSetter: true, updateOn: 'blur'}"
              />
          </div>
        </div>

        <div class="form-group goods-description-group">
          <label for="goods-description">Goods description</label>

          <div class="input-group">
            <input type="text" class="form-control" id="goods-description" required ng-minlength="5" to-upper
                   ng-model="makeBidRequest.bid.mf.goods_description"
                   ng-readonly="!makeBidRequest.goodsInputIsEditable"/>

              <span class="input-group-addon" style="cursor:pointer;"
                    ng-click="makeBidRequest.toggleEditGoods()">
                <span class="glyphicon glyphicon-pencil"></span>
              </span>
          </div>
        </div>

        <div class="form-group add-bid-form-control">
          <button type="submit" class="btn btn-info" ng-disabled="makeBidRequestForm.$invalid"
                  style="margin-right: 5%;">
            Make Request
          </button>

          <button type="button" class="btn btn-default" ng-click="makeBidRequest.reset(makeBidRequestForm)">
            Reset
          </button>
        </div>
      </form>
    </div>

    <div class="form-m-detail-container col-sm-offset-2 col-sm-4" ng-show="makeBidRequest.formMDetailShown">
      <span class="form-m-detail-container-dismiss"
            ng-click="makeBidRequest.toggleShowFormMDetail()">
        &times;
      </span>

      <div class="form-group form-m-number-group">
        <label class="control-label" for="form-m-detail-number">Form M Number</label>

        <input class="form-control" ng-model="makeBidRequest.bid.mf.number" id="form-m-detail-number"
               disabled/>
      </div>

      <div class="form-group applicant-group">
        <label class="control-label" for="form-m-detail-applicant">Applicant</label>

        <input class="form-control" type="text" id="form-m-detail-applicant"
               ng-model="makeBidRequest.bid.mf.applicant_data.name"
               disabled/>
      </div>

      <div class="form-group amount-group">
        <label class="control-label" for="form-m-detail-amount">Form M Amount</label>

        <div class="input-group">
          <span class="input-group-addon">{$makeBidRequest.bid.mf.currency_data.code$}</span>

          <input class="form-control" id="form-m-detail-amount" required
                 ng-model="makeBidRequest.amountGetterSetter" disabled
                 ng-model-options="{getterSetter: true}"/>
        </div>
      </div>

      <div class="form-group goods-description-group">
        <label class="control-label" for="form-m-detail-goods-description">Goods Description</label>

        <input class="form-control" type="text" id="form-m-detail-goods-description"
               ng-model="makeBidRequest.bid.mf.goods_description" disabled/>
      </div>

      <div class="form-group received-date-group">
        <label class="control-label" for="form-m-detail-date-received">Date Received</label>

        <input class="form-control" id="form-m-detail-date-received" disabled
               ng-model="makeBidRequest.dateReceivedGetterSetter" ng-model-options="{getterSetter: true}"/>
      </div>
    </div>
  </div>

  <model-table model-collection="makeBidRequest.formMs"
               table-model-manager="::makeBidRequest.modelManager"
               table-caption="::makeBidRequest.tableCaption"
               pagination-size="20"
               update-collection="makeBidRequest.getBidsOnNavigation(linkUrl)"
               pager-object="makeBidRequest.paginationHooks"
               on-row-dbl-click-callback="makeBidRequest.onSelectFormM(rowModel)"
    />
</div>
