<div class="model-table-display-root-container">

  <table class="table table-striped table-condensed table-bordered model-table-table-display"
         style="margin-bottom: 13px;">
    <caption>{$::modelTable.caption$}</caption>

    <thead>
      <tr>
        <th>S/N</th>
        <th ng-repeat="modelManager in modelTable.modelManager">{$::modelManager.title$}</th>
      </tr>
    </thead>

    <tbody toggle-bg-color row-selector="tr" selected-class-indicator="model-table-display-selected">
      <tr ng-repeat="aModel in modelTable.modelCollection" style="cursor: pointer;"
          ng-dblclick="modelTable.onDblClick({rowModel: aModel})"
          ng-class="['model-table-display-table-row', {'model-table-display-selected': aModel.highlighted}]">
        <td>{$$index + 1 + modelTable.rowIndexOffset$}</td>

        <td ng-repeat="modelManager in modelTable.modelManager" ng-style="::modelManager.tdStyle">
          {$::modelManager.modelKey ? aModel[modelManager.modelKey] : modelManager.render(aModel)$}
        </td>
      </tr>
    </tbody>
  </table>

  <pager-nav prev-page-link="modelTable.prevPageLink" link-urls="modelTable.linkUrls"
             current-pager-link="modelTable.currentLink" next-page-link="modelTable.nextPageLink"
             target-clicked-callback="modelTable.onUpdateCollection(linkUrl)"/>
</div>
