<div class="list-bid-view">
  <div class="row" style="margin-bottom: 30px; margin-top: 10px">
    <div class="col-sm-6">
      <div search-bids on-bids-searched="bidHome.onBidsSearched(searchResult)"></div>
    </div>

    <div class="col-sm-6">
      <div class="action-buttons" style="text-align: right;">

        <a class="btn btn-success" ng-href="{$bidHome.downloadUrl()$}" ng-disabled="bidHome.downloadBtnDisabled()"
           ng-click="bidHome.refreshPage()">
          Download
        </a>

        <button type="button" name="bid-home-mark-as-requested-btn" class="btn btn-success"
                ng-click="bidHome.markRequested()"
                ng-disabled="bidHome.markRequestedBtnDisabled()">
          Mark as requested
        </button>
      </div>
    </div>
  </div>

  <div display-pending-bid
       pending-bids="bidHome.bidRequests"
       pager-object="bidHome.paginationHooks"
       update-collection="bidHome.getBidsOnNavigation(linkUrl)"
       pagination-size="20"
       selected-bids="bidHome.selectedBids"
       on-selected-bids-changed="bidHome.onSelectedBidsChanged(newSelections)"
       on-row-dbl-click="bidHome.rowDblClickCb(bid)"
       table-caption="bidHome.tableCaption"
  >

  </div>
</div>
