<div class="form-m-attachment-container form-m-add-on-container" style="margin-bottom: 30px;">
  <div ng-click="formMComment.toggleShow(commentForm)"
       class="form-m-add-on-toggle form-m-comment-toggle-show clearfix">
    <span class="form-m-add-on-show-helper" ng-if="formMComment.formM.showCommentForm">Attach files</span>

    <div class="form-m-add-on-show-icon form-m-comment-add-on-show-icon">
      <span
        ng-class="['glyphicon', {'glyphicon-chevron-down': !formMComment.formM.showCommentForm, 'glyphicon-chevron-up': formMComment.formM.showCommentForm}]">
      </span>

      {$formMComment.title$}
    </div>
  </div>
</div>
