<div class="edit-allocation-directive-container">
  <form class="" role="form" autocomplete="off">
    <fieldset ng-form name="editAllocationForm">
      <legend>Edit FX Allocation:
        {$::editAllocation.allocation.deal_number$}/
        {$::editAllocation.allocation.deal_date$}/
        {$::editAllocation.allocation.currency$} {$::editAllocation.allocation.fcy_amount|number:2$}
      </legend>

      <ul class="list-group">
        <li class="list-group-item"
            ng-repeat="bid in editAllocation.bids track by bid.index">
          <span class="bid-index">{$ $index + 1$}</span>

          <label for="bid-form-m-number">
            <input type="text" id="bid-form-m-number"
                   ng-model="bid.ref"
                   ng-model-optionsx="{getterSetter: true}"
                   typeahead-editable="false"
                   typeahead-min-length="6"
                   typeahead-select-on-exact="true"
                   typeahead-on-select="editAllocation.onSelectBid($item, $model, $label, $event)"
                   uib-typeahead="theBid as theBid.ref for theBid in editAllocation.getBids($viewValue)"
            />
          </label>

          <label for="bid-amount">
            <input type="text" id="bid-amount" placeholder="Utilization Amount"
                   ng-model="bid.portion_of_allocation"
                   ng-disabled="!bid.ref"
                   number-format
            />
          </label>

          <span style="cursor: pointer;" class="bid-index" ng-click="editAllocation.removeBid($index)">
            <span class="glyphicon glyphicon-trash"></span>
          </span>
        </li>
      </ul>

      <div class="errors" ng-if="editAllocation.errors">{$editAllocation.errors$}</div>

      <div class="control-buttons">
        <div>
          <button class="btn ok-button"
                  ng-click="editAllocation.save(editAllocation.bids)">
            Ok
          </button>
        </div>

        <div style="text-align: center">
          <span class="glyphicon glyphicon-plus add-bid" ng-click="editAllocation.addBid()"></span>
        </div>

        <div style="text-align: right">
          <button class="btn dismiss-button"
                  ng-click="editAllocation.exit(editAllocation.allocation)">
            Dismiss
          </button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
