{% extends 'core_recons/recons-base.html' %}
{% load static %}

{% block title %}Letters of Credit{% endblock title %}

{% block page_css %}
  <link rel="stylesheet" href="{% static 'letter_of_credit/css/letter-of-credit.css' %}"/>
{% endblock page_css %}

{% block page_js_up %}

  <script>
    (function() {
      "use strict";

      var letterOfCredit = angular.module('letterOfCreditApp', [
        'ngRoute',
        'ui.bootstrap',
        'kanmii.numberFormatDirective',
        'kanmii.toUpperDirective',
        'ngResource',
        'angularModalService']);

      letterOfCredit.config(['$interpolateProvider',
                             function($interpolateProvider) {
                               $interpolateProvider.startSymbol('{$');
                               $interpolateProvider.endSymbol('$}');
                             }]);

      letterOfCredit.value('urls', JSON.parse('{{ urls | escapejs }}'));

    })();
  </script>

  <script src="{% static 'letter_of_credit/js/app.min.js' %}"></script>
{% endblock page_js_up %}

{% block page_content %}
  <div ng-app="letterOfCreditApp">

    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
        Select An Action
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#/">Search LC</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#/new">New LC Request</a></li>
      </ul>
    </div>

    <hr/>

    <div class="" ng-view></div>
  </div>

{% endblock page_content %}
