<div class="bid-table-container upload-allocation-error-display">

  <uib-alert template-url="blotter-pasted-text-invalid.html">
    Blotter cannot be saved. Please see reasons below:
  </uib-alert>

  <table class="table table-bordered table-condensed table-responsive table-striped"
         ng-table="uploadAllocationErrorDisplay.tableParams">
    <tbody>
      <tr ng-repeat="row in $data track by row.index">
        <td data-title="'S/N'">{$$index +1$}</td>
        <td data-title="'DEAL NO'">{$::row.deal_number$}</td>
        <td data-title="'DEAL DATE'">{$::row.deal_date|date:'dd-MMM-yyyy'$}</td>
        <td data-title="'TYPE'">{$::row.transaction_type$}</td>
        <td data-title="'AMOUNT'" class="td-number">{$::row.fcy_amount| number:2$}</td>
        <td data-title="'CUSTOMER NAME'">{$::row.customer_name$}</td>
        <td data-title="'SAVE STATUS'">
            <span style="color: green;font-weight: 900; font-size: 1.3em;"
                  ng-if="!row.errors">Data ok - can be saved!</span>

          <span ng-if="row.errors" style="color: #c7254e; display: block; margin-left: 30px">Cannot be saved: </span>
            <span style="color: #c7254e; display: block" ng-repeat="rowError in row.errors">
              {$rowError$}
            </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
