{% extends 'core_recons/recons-base.html' %}
{% load static %}

{% block title %}Form M{% endblock title %}

{% block page_css %}
  <link rel="stylesheet" href="{% static 'letter_of_credit/js/form-m/form-m.app.min.css' %}"/>
{% endblock page_css %}

{% block page_js_up %}
  {{ block.super }}

  <script src="{% static 'letter_of_credit/js/form-m/form-m.app.min.js' %}"></script>
{% endblock page_js_up %}

{% block page_content %}
  <div ng-app="form-m-root-app">

    <ol class="home-breadcrumb breadcrumb" ng-show="$state.current.name !== 'home'">
      <li>
        <span class="glyphicon glyphicon-home" ng-click="$state.go('home')" data-toggle="tooltip"
              title="Home - Navigation">
      </span>
      </li>

      <li>
        <span style="margin-left: 5px;">
        {$$state.current.kanmiiTitle$}
      </span>
      </li>

    </ol>

    <div class="slide" ui-view>
    </div>
  </div>

{% endblock page_content %}

{% block page_js %}{% endblock page_js %}
