<div class="bid-request-form-container form-m-add-on-container">

  <div ng-click="lcBid.toggleShow(bidForm)"
       class="form-m-add-on-toggle form-m-bid-toggle-show clearfix">
    <span class="form-m-add-on-show-helper" ng-if="lcBid.formM.showBidForm">
      {$lcBid.formM.showEditBid ? 'Edit Bid' : 'New Bid Request'$}
    </span>

    <div class="form-m-add-on-show-icon form-m-bid-add-on-show-icon">
      <span
        ng-class="['glyphicon', {'glyphicon-chevron-down': !lcBid.formM.showBidForm, 'glyphicon-chevron-up': lcBid.formM.showBidForm}]">
      </span>

      {$lcBid.title$}
    </div>
  </div>

  <fieldset ng-form name="bidForm" ng-show="lcBid.formM.showBidForm">
    <div class="form-group bid-goods-description" control-has-feedback>

      <label class="control-label col-sm-3" for="goods-description">Goods Description</label>

      <div class="col-sm-9">
        <input type="text" class="form-control" id="goods-description" name="bidGoodsDescription" required
               ng-minlength="3"
               ng-required="lcBid.formM.showBidForm" to-upper
               ng-model="lcBid.formM.bid.goods_description"/>

        <div ng-messages="bidForm.bidGoodsDescription.$error" role="alert">
          <div ng-if="lcBid.isValid('bidGoodsDescription')">
            <div ng-messages-include="form-error-messages"></div>
          </div>
        </div>

      </div>
    </div>

    <div class="form-group bid-amount-group" control-has-feedback>

      <label class="control-label col-sm-3" for="bid-amount">Amount</label>

      <div class="col-sm-9">
        <input type="text" class="form-control" id="bid-amount" name="bidAmount" ng-model="lcBid.amountGetterSetter"
               ng-model-options="{getterSetter: true, updateOn: 'blur'}"
               ng-required="lcBid.formM.showBidForm"/>

        <div ng-messages="bidForm.bidAmount.$error" role="alert">
          <div ng-if="lcBid.isValid('bidAmount')">
            <div ng-messages-include="form-error-messages"></div>
          </div>
        </div>

      </div>
    </div>

    <div class="form-group bid-maturity-date-group" control-has-feedback feedback-after=".input-group-addon">

      <label class="control-label col-sm-3" for="bid-maturity-date">Maturity Date</label>

      <div class="col-sm-9">
        <div class="input-group">
          <input type="text" class="form-control" id="bid-maturity-date" name="bidMaturityDate"
                 ng-model="lcBid.formM.bid.maturity"
                 uib-datepicker-popup="{$lcBid.formM.datePickerFormat$}"
                 is-open="lcBid.datePickerIsOpen.bidMaturityDate"
          />

            <span class="input-group-addon"
                  ng-click="lcBid.openDatePicker('bidMaturityDate')">
              <i class=" glyphicon glyphicon-calendar"></i>
            </span>
        </div>

        <div ng-messages="bidForm.bidMaturityDate.$error" role="alert">
          <div ng-if="lcBid.isValid('bidMaturityDate')">
            <div ng-messages-include="form-error-messages"></div>
          </div>
        </div>
      </div>
    </div>

    <div ng-if="lcBid.formM.showEditBid">
      <div class="form-group bid-created-date-group" control-has-feedback feedback-after=".input-group-addon">

        <label class="control-label col-sm-3" for="bid-created-date">Date Created</label>

        <div class="col-sm-9">
          <div class="input-group">
            <input type="text" class="form-control" id="bid-created-date" name="bidCreatedDate"
                   ng-model="lcBid.formM.bid.created_at"
                   ng-disabled="!lcBid.formM.showEditBid" ng-required="lcBid.formM.showEditBid"
                   uib-datepicker-popup="{$lcBid.formM.datePickerFormat$}"
                   is-open="lcBid.datePickerIsOpen.bidCreatedDate"/>

            <span class="input-group-addon" ng-click="lcBid.openDatePicker('bidCreatedDate')">
              <i class=" glyphicon glyphicon-calendar"></i>
            </span>
          </div>

          <div ng-messages="bidForm.bidCreatedDate.$error" role="alert">
            <div ng-if="lcBid.isValid('bidCreatedDate')">
              <div ng-messages-include="form-error-messages"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group bid-requested-date-group" control-has-feedback feedback-after=".input-group-addon">

        <label class="control-label col-sm-3" for="bid-requested-date">Date Requested</label>

        <div class="col-sm-9">
          <div class="input-group">
            <input type="text" class="form-control" id="bid-requested-date" name="bidRequestedDate"
                   ng-model="lcBid.formM.bid.requested_at" ng-disabled="!lcBid.formM.showEditBid"
                   uib-datepicker-popup="{$lcBid.formM.datePickerFormat$}"
                   is-open="lcBid.datePickerIsOpen.bidRequestedDate"/>

            <span class="input-group-addon" ng-click="lcBid.openDatePicker('bidRequestedDate')">
              <i class=" glyphicon glyphicon-calendar"></i>
            </span>
          </div>

          <div ng-messages="bidForm.bidRequestedDate.$error" role="alert">
            <div ng-if="lcBid.isValid('bidRequestedDate')">
              <div ng-messages-include="form-error-messages"></div>
            </div>
          </div>

        </div>
      </div>

      <div class="form-group bid-downloaded-group" control-has-feedback control-selector="#bid-downloaded">

        <label class="control-label col-sm-3" for="bid-downloaded">Downloaded</label>

        <div class="col-sm-9">
          <input type="checkbox" id="bid-downloaded" name="bidDownloaded"
                 ng-model="lcBid.formM.bid.downloaded" ng-disabled="!lcBid.formM.showEditBid"/>

          <div ng-messages="bidForm.bidDownloaded.$error" role="alert">
            <div ng-if="lcBid.isValid('bidRequestedDate')">
              <div ng-messages-include="form-error-messages"></div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div style="text-align: right" ng-show="lcBid.formM.showEditBid">
      <button type="button" class="btn btn-info" ng-click="lcBid.editBid()" ng-disabled="lcBid.editBidInvalid(bidForm)">
        Edit Bid
      </button>
    </div>
  </fieldset>

  <div class="items-table-display" ng-if="lcBid.formM.existingBids.length">

    <hr/>

    <div class="allocation-form-container" ng-if="lcBid.showAllocateFx">
      <span class="close-btn" ng-click="lcBid.dismissShowAllocateFxForm()">&times;</span>

      <div add-fx-allocation
           initial-deal-props="lcBid.initialBidProps"
           km-title="lcBid.allocationTitle"
           on-fx-allocated="lcBid.onFxAllocated(result)">
      </div>
    </div>

    <table class="table table-responsive table-striped table-bordered">
      <caption>
        Existing Bids <span class="badge">{$lcBid.formM.existingBids.length$}</span>
      </caption>
      <thead>
        <tr>
          <td style="width: 5px"></td>
          <td style="text-align: center; width: 5px">S/N</td>
          <td style="text-align: center; width: 5px;">Currency</td>
          <td style="text-align: center; width: 10px;">Amount</td>
          <td style="text-align: center; width: 90px;">Date Sent</td>
          <td style="text-align: center; width: 10px;">Allocations</td>
          <td style="text-align: center; width: 10px;">Utilization</td>
          <td style="text-align: center; width: 10px;">Unallocated</td>
        </tr>
      </thead>

      <tbody class="existing-bids-table-body">
        <tr ng-repeat="bid in lcBid.formM.existingBids"
            ng-class="['existing-bid-row', {'existing-bid-checked': bid.checked, 'deleted': (bid.deleted_at || lcBid.formM.deleted_at ) } ]">
          <td>
            <input type="checkbox"
                   ng-model="lcBid.selectedBids[bid.id]"
                   ng-attr-name="{$'existingBid' + bid.id$}">
          </td>

          <td style="text-align: right;">
            {$$index + 1$}
          </td>

          <td style="text-align: center;">
            {$::lcBid.formM.currency.code$}
          </td>

          <td style="text-align: right;">
            {$::bid.amount|number:2$}
          </td>

          <td style="text-align: center;">
            {$::bid.requested_at|date:'dd-MMM-yyyy'$}
          </td>

          <td style="text-align: right;">
            {$::bid.total_allocation|number:2$}
          </td>

          <td style="text-align: right;">
            {$::bid.total_utilization|number:2$}
          </td>

          <td style="text-align: right;">
            {$::bid.unallocated|number:2$}
          </td>
        </tr>
      </tbody>
    </table>

    <div style="text-align: center" ng-if="lcBid.selectedBidsLen">
      <a class="glyphicon glyphicon-download-alt control-icon"
         data-toggle="tooltip"
         data-placement="bottom" title="Download bids"
         ng-href="{$lcBid.downloadUrl(lcBid.selectedBids)$}"
         ng-click="lcBid.refreshBids()">
      </a>

      <span ng-if="lcBid.selectedBidsLen === 1">
        <span class="glyphicon glyphicon-edit control-icon"
              data-toggle="tooltip"
              data-placement="bottom" title="Edit bid"
              ng-click="lcBid.onEditBid(lcBid.selectedBids, bidForm)"
              ng-if="lcBid.selectedBidNotDeleted(lcBid.selectedBids)">
      </span>

        <span class="glyphicon glyphicon-plus-sign control-icon"
              data-toggle="tooltip"
              data-placement="bottom" title="Reinstate bid"
              ng-click="lcBid.trashOrReinstateBid(lcBid.selectedBids, 'reinstate')"
              ng-if="!lcBid.selectedBidNotDeleted(lcBid.selectedBids)">
        </span>

        <span class="glyphicon glyphicon-link  control-icon"
              data-toggle="tooltip"
              data-placement="bottom" title="Add allocation"
              ng-click="lcBid.allocateFx(lcBid.selectedBids, bidForm)"
              ng-if="lcBid.selectedBidNotDeleted(lcBid.selectedBids)">
        </span>

        <span class="glyphicon glyphicon-info-sign  control-icon"
              data-toggle="tooltip"
              data-placement="bottom" title="View Bid"
              ng-click="lcBid.viewBidDetail(lcBid.selectedBids)"></span>

        <span class="glyphicon glyphicon-trash  control-icon"
              data-toggle="tooltip"
              data-placement="bottom" title="Trash bid"
              ng-click="lcBid.trashOrReinstateBid(lcBid.selectedBids, 'delete')"
              ng-if="lcBid.selectedBidNotDeleted(lcBid.selectedBids)">
        </span>
      </span>
    </div>
  </div>
</div>
