.home-breadcrumb {
  font-size: 15px;
}

.glyphicon-home {
  display: inline-block;
  color: #5bc0de;
  cursor: pointer;
}

.state-navigate-back {
  font-size: 18px;
  margin-bottom: 15px;
  margin-left: 10px;

  & > a {
    text-decoration: initial;
  }
}

@import url('./form-m/form-m.less');
@import url('./bid-request/add-bid/add-bid.less');
@import url('./lc/lc-detail/lc-detail.less');
@import url('./bid-request/display-pending-bid/display-pending-bid.less');
