<div class="cover-form-container form-m-add-on-container" style="margin-top: 40px;">

  <div ng-click="lcCover.toggleShow(coverForm)" class="form-m-add-on-toggle form-m-bid-toggle-show clearfix">
    <span class="form-m-add-on-show-helper" ng-show="lcCover.showContainer">
      Register Cover
    </span>

    <div class="form-m-add-on-show-icon">
      <span
          ng-class="['glyphicon', {'glyphicon-chevron-down': !lcCover.showContainer, 'glyphicon-chevron-up': lcCover.showContainer}]">
      </span>

      {$lcCover.title$}
    </div>
  </div>

  <fieldset ng-form name="coverForm" ng-show="lcCover.showContainer" style="margin-top: 10px;">
    <div
        ng-class="['form-group', 'has-feedback', 'cover-type-group', {'has-error': lcCover.isValid('coverType'), 'has-success': lcCover.isValid('coverType', 'ok')}]">

      <label class="control-label col-sm-3" for="cover-type">Cover Type</label>

      <div class="col-sm-9">
        <select class="form-control" id="cover-type" name="coverType" required ng-model="lcCover.cover.cover_type"
                ng-required="lcCover.showContainer"
                ng-options="item[1] for item in lcCover.coverTypes">

          <option value="">--Choose cover type--</option>
        </select>

        <i ng-class="['form-control-feedback', 'glyphicon', {'glyphicon-remove': lcCover.isValid('coverType'), 'glyphicon-ok': lcCover.isValid('coverType', 'ok')}]"
           ng-if="lcCover.isValid('coverType') || lcCover.isValid('coverType', 'ok')"
           data-form-control-icon-for="coverType"></i>

        <div ng-messages="coverForm.coverType.$error" role="alert">
          <div ng-if="lcCover.isValid('coverType')">
            <div ng-messages-include="form-error-messages"></div>
          </div>
        </div>
      </div>
    </div>

    <div
        ng-class="['form-group', 'has-feedback', 'cover-type-group', {'has-error': lcCover.isValid('coverAmount'), 'has-success': lcCover.isValid('coverAmount', 'ok')}]">
      <label class="control-label col-sm-3" for="cover-amount">Amount</label>

      <div class="col-sm-9">
        <div class="input-group">
          <span class="input-group-addon">
            <span>{$lcCover.formM.currency.code$}</span>
          </span>

          <input class="form-control" id="cover-amount" name="coverAmount" ng-required="lcCover.showContainer"
                 ng-model="lcCover.amountGetterSetter"
                 ng-model-options="{getterSetter:true, updateOn: 'blur'}" ng-disabled="!lcCover.showContainer"/>

          <i ng-class="['form-control-feedback', 'glyphicon', {'glyphicon-remove': lcCover.isValid('coverAmount'), 'glyphicon-ok': lcCover.isValid('coverAmount', 'ok')}]"
             ng-if="lcCover.isValid('coverAmount') || lcCover.isValid('coverAmount', 'ok')"
             data-form-control-icon-for="coverAmount"></i>
        </div>

        <div ng-messages="coverForm.coverAmount.$error" role="alert">
          <div ng-if="lcCover.isValid('coverAmount')">
            <div ng-messages-include="form-error-messages"></div>
          </div>
        </div>
      </div>
    </div>
  </fieldset>

  <div class="existing-covers items-table-display" ng-if="addFormMState.formM.covers.length">
    <hr/>
    <table class="table table-responsive table-striped">
      <caption>Covers</caption>

      <thead>
        <tr>
          <td>S/N</td>
          <td>Cover Type</td>
          <td>Currency</td>
          <td>Amount</td>
          <td>Date Received</td>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="cover in addFormMState.formM.covers">
          <td>{$::$index + 1 $}</td>
          <td>{$::cover.cover_label$}</td>
          <td>{$::addFormMState.formM.currency.code$}</td>
          <td>{$::cover.amount|number:2$}</td>
          <td>{$::cover.received_at|date:'dd-MMM-yyyy'$}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
