{% extends 'core_recons/recons-base.html' %}
{% load static %}

{% block title %}LC Payment{% endblock title %}

{% block page_css %}
  <link rel="stylesheet" href="{% static 'payment/css/letter-of-credit-payment.min.css' %}"/>
{% endblock page_css %}

{% block page_js_up %}
  {{ block.super }}

  <script src="{% static 'payment/js/app.min.js' %}"></script>
{% endblock page_js_up %}

{% block page_content %}
  <div ng-app="letterOfCreditPayment">

    <div class="letter-of-credit-payment-nav-btns">
      <button class="btn btn-info" ng-class="{active: $state.includes('post_neg')}" ng-click="$state.go('post_neg')">
        ITF - (Post Negotiation Financing)
      </button>

      <button class="btn btn-info" ng-class="{active: $state.includes('pre_neg')}" ng-click="$state.go('pre_neg')">
        Deferred Payments - (Pre Negotiation)
      </button>
    </div>

    <hr/>
    <h1 class="current-state-title">Payment of Letter Of Credit: {$ $state.current.title $}</h1>
    <hr/>

    <div class="slide" ui-view></div>
  </div>

{% endblock page_content %}
