<div id="add-form-m">
  <form novalidate class="form-horizontal" ng-submit="addFormMModal.addFormM(addFormMModal.formM)"
        name="addFormMModalForm">
    <fieldset class="add-new-form-m-container" ng-form name="newFormMModalForm"
              style="position: relative;padding: 7px;">

      <div class="form-group form-m-number-group">
        <label class="control-label col-md-4 col-lg-4 col-sm-4" for="form-m-number">Form M Number</label>

        <div class="col-md-8 col-lg-8 col-sm-8">
          <input class="form-control" maxlength="13" id="form-m-number" required to-upper ng-pattern="/mf\d{11}/i"
                 ng-model="addFormMModal.formM.number"/>
        </div>
      </div>

      <div class="form-group applicant-group">
        <label class="control-label col-md-4 col-lg-4 col-sm-4" for="applicant">Applicant</label>

        <div class="col-md-8 col-lg-8 col-sm-8">
          <div class="input-group">
            <input class="form-control" type="text" min="3" id="applicant"
                   ng-model="addFormMModal.formM.applicant"
                   ng-pattern="/.{4,}/"
                   typeahead-min-length="3"
                   typeahead="applicant as applicant.name for applicant in addFormMModal.getApplicant($viewValue)"
                />
            <span class="input-group-addon">
              <img ng-src="{$$root.addIconSrc$}" alt="" add-customer dim-parent="addFormMModal.element"/>
            </span>
          </div>
        </div>
      </div>

      <div class="form-group currency-group">
        <label class="control-label col-md-4 col-lg-4 col-sm-4" for="currency">Currency</label>

        <div class="col-md-8 col-lg-8 col-sm-8">
          <input class="form-control" id="currency" required maxlength="3"
                 ng-model="addFormMModal.formM.currency"
                 typeahead="currency as currency.code for currency in addFormMModal.getCurrency($viewValue)"
                 typeahead-min-length="3"
              />
        </div>
      </div>

      <div class="form-group amount-group">
        <label class="control-label col-md-4 col-lg-4 col-sm-4" for="amount">Amount</label>

        <div class="col-md-8 col-lg-8 col-sm-8">
          <input class="form-control" id="amount" required ng-model="addFormMModal.formM.amount" number-format/>
        </div>
      </div>

      <div class="form-group received-date-group">
        <label class="control-label col-md-4 col-lg-4 col-sm-4" for="received-date">Date Received</label>

        <div class="col-md-8 col-lg-8 col-sm-8">
          <div class="input-group">
            <input class="form-control" id="received-date" required
                   ng-model="addFormMModal.formM.date_received"
                   datepicker-popup="{$addFormMModal.datePickerFormat$}" is-open="addFormMModal.datePickerIsOpen"
                />

            <span class="input-group-addon" ng-click="addFormMModal.openDatePicker($event)">
              <i class=" glyphicon glyphicon-calendar"></i>
            </span>
          </div>
        </div>
      </div>
    </fieldset>

    <div class="bid-request-form-container" ng-form name="bidRequestForm" style="margin-left: 5%;display: none">
      <h4>Make Bid Request</h4>

      <div class="form-group">
        <label class="control-label col-md-4 col-lg-4 col-sm-4" for="goods-description">Goods Description</label>

        <div class="col-md-8 col-lg-8 col-sm-8">
          <input class="form-control" id="goods-description"
                 ng-model="addFormMModal.bidRequest.goods_description" to-upper/>
        </div>
      </div>

      <div class="form-group bid-request-amount-group">
        <label class="control-label col-md-4 col-lg-4 col-sm-4" for="amount">Amount</label>

        <div class="col-md-8 col-lg-8 col-sm-8">
          <input class="form-control" id="amount" required ng-model="addFormMModal.bidRequest.amount" number-format/>
        </div>
      </div>
    </div>

    <div class="row add-customer-form-control">
      <div class="col-md-4 col-lg-4 col-sm-4" style="text-align: left">
        <span class="btn btn-default"
              ng-click="addFormMModal.reset(addFormMModalForm)">
          Reset
        </span>
      </div>

      <div class="col-md-4 col-lg-4 col-sm-4" style="text-align: center">
        <button type="submit" class="btn btn-info" ng-disabled="newFormMModalForm.$invalid">
          Add Customer
        </button>
      </div>

      <div class="col-md-4 col-lg-4 col-sm-4" style="text-align: right">
        <span class="btn btn-default" ng-click="addFormMModal.close()">Close</span>
      </div>
    </div>
  </form>
</div>
